page-time-card {
    ion-navbar {
        .bar-button {
            color: #eaeaea !important;
            background-color: #424242 !important;
            width: 45px;
            height: 45px;
        }
    }
    ion-calendar-month .primary .days .on-selected {
        background-color: #5e7fbd;
    }
    ion-calendar-month-picker .month-packer-item button, ion-calendar .title .switch-btn {
        color: #fff !important;
    }
    ion-slide {
        overflow-y: scroll !important;
        display: block !important;
    }
    ion-calendar-month .primary .days .last-month-day p, ion-calendar-month .primary .days .next-month-day p {
        color: #e1d678 !important;
    }

    ion-calendar {
        background-color: #2A314C;
    }

    ion-calendar-month button.days-btn p {
        color: #fff;
    }
    ion-item {
        height: 100px;
    }
    .segment-ios .segment-button {
        border-color: #666 !important;
        color: #666;
        font-size: 14px;
        font-family: "Mukta-Regular", sans-serif !important;
        background-color: #b4b4b4;
    }
    .segment-ios .segment-button.segment-activated {
        border-color: #666 !important;
        font-size: 14px;
        font-family: "Mukta-Regular", sans-serif !important;
        color: #666;
        background-color: #eaeaea !important;
    }
    .segment-md .segment-button.segment-activated, .segment-ios .segment-button.segment-activated {
        border-color: #666 !important;
        color: #666;
        font-size: 14px;
        font-family: "Mukta-Regular", sans-serif !important;
        background-color: #eaeaea !important;
    }

    .tenant-update {
        background-color: #e86d6d !important;
        font-weight: bold;
        color: #fff;
    }
    ion-row {
        background-color: transparent !important;
        color: #fff !important;
    }
    .item-md, .item-ios {
        background-color: transparent;
        color: #fff !important;
    }
    ion-col {
        font-family: "Mukta-Regular", sans-serif !important;
        display: block;
        .building {
            background: transparent !important;
        }
    }
    ion-label {
        line-height: 31px;
        display: block !important;
    }
    ion-card {
        background: #4d6175 !important;
        border: 1px solid #eaeaea;
        font-size: 12px !important;
    }
    ion-content {
        background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
        background-size: cover;
    }
    background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
    background-size: cover;
    .spinner-boundaries {
        padding: 10px 0;
        width: 30px;
        margin: 0 auto;
    }
    .scroll-content {
        background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
        background-size: cover;
        @include breakpoint("iPhoneX") {
            margin-bottom: 90px !important;
        }

        @include breakpoint("iPhoneXSMax") {
            margin-bottom: 90px !important;
        }
        @include breakpoint("iPhoneXR") {
            margin-bottom: 90px !important;
        }

        .divider-header {
            font-size: large;
            align-content: center;
            font-family: "Mukta-Regular", sans-serif !important;
            font-weight: bold;
            color: #5a738e;
            background-color:#e7e7e7;
            padding-top: 1%;
            padding-bottom: 1%;
        }
    }
    .services {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: visible;
        margin-bottom: 0px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: transparent;
    }
    .services .spinner {
        content: "";
        position: absolute;
        height: 6px;
        background: #fff;
        top: 0;
        left: 0;
        width: 100%;
        animation: 1.2s loading infinite;
    }
    a {
        text-decoration: none;
    }
    div {
        -webkit-text-size-adjust: none;
    }
    .anima-full-width-a {
        width: 100%;
    }
    .anima-full-height-a {
        height: 100%;
    }
    div {
        -webkit-text-size-adjust: none;
    }
    .button-row {
        padding: 0;
        display: flex;
        flex-direction: row;
        border-top: 1px solid #e6e6e6;
        color: #2A314C;
        .button-col {
            text-align: center;
            justify-items: center;
            display: grid;
            background-color: #eaeaea;
            color: #2A314C;
            padding: 5%;
            font-size: 16px;
            font-family: "Mukta-Regular", sans-serif !important;
            font-weight: bold;
        }
        .button-col2 {
            text-align: center;
            justify-items: center;
            display: grid;
            background-color: #2A314C;
            color: #eaeaea;
            padding: 5%;
            font-size: 16px;
            font-family: "Mukta-Regular", sans-serif !important;
            font-weight: bold;
        }
    }
}

@media only screen and (min-width: 900px) {
    #postContainer {
        border-right: 1px solid gray;
    }
    .services .rectanglecopy {
        display: flex;
    }

    .services .rectanglecopy .rectangle3 {
        width: 32%;
    }
}
