<!-- This file is subject to the terms and conditions defined in file
'LICENSE.text', which can be found at the root of this project. -->
<ion-header>
    <ion-navbar class="default-nav" align-title="center">
        <ion-title class="ion-text-center">
            <img src="assets/img/logo-title.png" style="max-width: 83px" />
            Time Card
        </ion-title>
    </ion-navbar>
    <ion-segment style="background-color: #eaeaea !important" no-padding [(ngModel)]="TimeToggle">
        <ion-segment-button value="today"> Today </ion-segment-button>
        <ion-segment-button value="previous"> Previous </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content>
    <ion-slides [ngSwitch]="TimeToggle" *ngIf="!(loading$ | async)">
        <!-- 
            NEW REQUESTS
        -->
        <ion-slide *ngSwitchCase="'today'">
            <ng-container>
                <ion-list *ngIf="!(loading$ | async)">
                    <div class="divider-header" style="font-size: large; text-align: center">Hours Clocked For Today</div>
                    <ion-item class="full-width flex-center" *ngFor="let card of (timeCards$ | async)">
                        <b>Clocked In</b>: {{ (card.startTime | date:'short') || "Time Error" }}<br /><br />
                        <span *ngIf="(null != card.endTime)"><b>Clocked Out</b>: {{ (card.endTime | date:'short') || "N/A" }}<br /> </span>
                    </ion-item>
                    <div class="divider-header" style="font-size: large; text-align: center">Clock-In For Today</div>
                    <button *ngIf="!IsClockedIn && IsSocketConnected" (click)="ClockIn()" style="width: 200px; padding: 7%; font-family: 'Mukta-Regular', sans-serif !important; font-weight: bold; font-size: 16px; color: #2a314c" ion-button color="light" item-left>
                        <ion-icon name="ios-clock"></ion-icon>
                        Clock-In
                    </button>

                    <button *ngIf="IsClockedIn && IsSocketConnected" (click)="ClockOut()" style="width: 200px; padding: 7%; font-family: 'Mukta-Regular', sans-serif !important; font-weight: bold; font-size: 16px; color: #fff" ion-button color="danger" item-left>
                        <ion-icon name="ios-clock"></ion-icon>
                        Clock-Out
                    </button>
                </ion-list>
            </ng-container>
        </ion-slide>
        <ion-slide *ngSwitchCase="'previous'">
            <ng-container>
                <ion-list>
                    <div class="divider-header" style="font-size: large; text-align: center">Pick a Day</div>
                    <ion-calendar [(ngModel)]="date" (onChange)="onChange($event)" [options]="option" #dateCalendar type="string" format="MM/DD/YYYY"> </ion-calendar>
                    <div class="divider-header" style="font-size: large; text-align: center">Hours Clocked For {{ SelectedDate }}</div>
                    <ion-item class="full-width flex-center" *ngFor="let card of (timeCardsPrevious$ | async)">
                        <b>Clocked In</b>: {{ (card.startTime | date:'short') || "Time Error" }}<br /><br />
                        <span *ngIf="(null != card.endTime)"><b>Clocked Out</b>: {{ (card.endTime | date:'short') || "N/A" }}<br /> </span>
                    </ion-item>
                </ion-list>
            </ng-container>
        </ion-slide>
    </ion-slides>
    <loading-component [ShowLoading]="(loading$ | async)"></loading-component>
</ion-content>
