<!-- This file is subject to the terms and conditions defined in file
'LICENSE.text', which can be found at the root of this project. -->
<ion-content class="signup">
    <div style="width: 100%; height: 100%">
        <div class="rectangle" style="background-color: #2a314c"></div>
        <div class="rectangle1"></div>
        <div class="group3 animated fadeInUp">
            <img src="assets/img/title-white.png" class="fill4" />
        </div>
        <div class="groups animated fadeInUp">
            <form #LoginForm="ngForm" novalidate>
                <div class="group2copy">
                    <ion-input id="email" name="email" placeholder="Email*" type="email" [(ngModel)]="login.email" #email="ngModel" required></ion-input>
                </div>
                <div class="group2copy3">
                    <ion-input id="password" name="password" placeholder="Password*" type="password" clearOnEdit="true" [(ngModel)]="login.password" #password="ngModel" required></ion-input>
                </div>
                <div class="facebook" style="border: 1px solid #fff" (click)="SignIn(LoginForm)">
                    <div class="email1">
                        <ion-icon name="log-in" style="font-size: 21px; color: #fff; font-weight: bolder"></ion-icon>
                    </div>
                    <button type="submit" class="continuewithfacebo">Sign In</button>
                </div>

                <div *ngIf="IsTouchIdAvailable" class="face-id" (click)="startTouchID()">
                    <div class="email1">
                        <ion-icon name="unlock" style="font-size: 21px; color: #2a314c; font-weight: bolder"></ion-icon>
                    </div>
                    <button type="submit" class="continuewithfacebo">Use Face ID</button>
                </div>

                <div class="forgot-password" (click)="onForgotPassword()">
                    <div class="email1">
                        <ion-icon name="help" style="font-size: 21px; color: #2a314c; font-weight: bolder"></ion-icon>
                    </div>
                    <button type="submit" class="continuewithfacebo">Forgot Password</button>
                </div>
            </form>
        </div>
    </div>
</ion-content>