page-login {
    .signup {
        background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
        width: 100%;
        height: 100%;
        position: relative;
        overflow: visible;
        margin: 0px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: rgba(255, 255, 255, 1);
    }
    a {
        text-decoration: none;
    }
    div {
        -webkit-text-size-adjust: none;
    }
    .anima-full-width-a {
        width: 100%;
    }
    .anima-full-height-a {
        height: 100%;
    }
    div {
        -webkit-text-size-adjust: none;
    }
    .signup .group4 {
        top: 20px;
        height: 48px;
        width: 69px;
        float: right;
        position: absolute;
        color: #dedede;
        right: 0px;
        cursor: pointer;
    }
    .signup .group3 {
        background-color: rgba(255, 255, 255, 0);
        top: 80px;
        height: auto;
        width: 246px;
        position: absolute;
        margin: 0;
        left: 20%;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group3 .rectangle2 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 68px;
        width: 68px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group3 .silverbrick {
        background-color: rgba(255, 255, 255, 0);
        top: 17px;
        height: auto;
        width: auto;
        position: absolute;
        margin: 0;
        left: 75px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        font-family: "Helvetica", Helvetica, Arial, serif;
        font-size: 22px;
        color: rgba(255, 255, 255, 1);
        text-align: left;
        line-height: 26px;
    }
    .signup .group3 .fill4 {
        background-color: rgba(255, 255, 255, 0);
        top: 22px;
        max-width: 100%;
        margin: 0;
        left: 15px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .rectangle {
        background-image: url('/assets/img/layout/login-bg.jpg');
        background-size: cover;
        background-blend-mode: soft-light;
        // background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
        background-position: center;
        background-repeat: repeat;
        top: 0px;
        height: 100%;
        width: 100%;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .rectangle1 {
        background-color: #2A314C;
        top: 0px;
        height: 100%;
        width: 100%;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        opacity: 1;
    }
    .signup .rectangle2 {
        background-color: rgba(255, 255, 255, 0);
        top: 252px;
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .group2copy {
        background-color: rgba(255, 255, 255, 0);
        top: 262px;
        height: 74px;
        width: 90%;
        position: absolute;
        margin: 0;
        left: 30px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .group2copy .whattimedoyoulea {
        background-color: rgba(255, 255, 255, 0);
        top: 11px;
        height: auto;
        width: auto;
        position: absolute;
        margin: 0;
        left: 11px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        opacity: 0.5;
        font-family: "Helvetica", Helvetica, Arial, serif;
        font-size: 16px;
        color: rgba(74, 73, 74, 1);
        text-align: left;
        letter-spacing: -0.39px;
        line-height: 19px;
    }
    .signup .groups .group2copy ion-input {
        top: 32px;
        background-color: #f7f7f7;
        border: 1px solid rgba(137, 154, 168, 0.3);
        left: 5px;
        width: 90%;
    }
    .signup .groups .group2copy .chooseday {
        background-color: rgba(255, 255, 255, 0);
        top: 11px;
        height: auto;
        width: auto;
        position: absolute;
        margin: 0;
        left: 11px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        opacity: 0.5;
        font-family: "Helvetica", Helvetica, Arial, serif;
        font-size: 16px;
        color: rgba(74, 73, 74, 1);
        text-align: left;
        letter-spacing: -0.39px;
        line-height: 19px;
    }
    .signup .groups .group2copy3 {
        background-color: rgba(255, 255, 255, 0);
        top: 352px;
        height: 74px;
        width: 90%;
        position: absolute;
        margin: 0;
        left: 30px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .group2copy3 .whattimedoyoulea {
        background-color: rgba(255, 255, 255, 0);
        top: 11px;
        height: auto;
        width: auto;
        position: absolute;
        margin: 0;
        left: 11px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        opacity: 0.5;
        font-family: "Helvetica", Helvetica, Arial, serif;
        font-size: 16px;
        color: rgba(74, 73, 74, 1);
        text-align: left;
        letter-spacing: -0.39px;
        line-height: 19px;
    }
    .signup .groups .group2copy3 ion-input {
        top: 32px;
        background-color: #f7f7f7;
        border: 1px solid rgba(137, 154, 168, 0.3);
        left: 5px;
        width: 90%;
    }
    .searchbar-md .searchbar-search-icon,
    .searchbar-ios .searchbar-search-icon {
        display: none;
        visibility: hidden;
    }
    .searchbar-md .searchbar-input,
    .searchbar-ios .searchbar-input {
        box-shadow: none;
        -webkit-box-shadow: none;
        padding: 0px;
    }
    .signup .groups .facebook {
        background-color: #2A314C;
        border-radius: 50px;
        top: 474px;
        height: 67px;
        width: 85%;
        position: absolute;
        margin: 0;
        left: 20px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        cursor: pointer;
    }

    .signup .groups .face-id {
        background-color: #f2f6fc;
        border-radius: 50px;
        top: 638px;
        height: 67px;
        width: 85%;
        position: absolute;
        margin: 0;
        left: 20px;
        color: #2A314C;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        cursor: pointer;
    }
    .signup .groups .face-id .email1 {
        background-color: rgba(255, 255, 255, 0);
        top: 21%;
        height: 22px;
        width: 22px;
        font-size: 28px;
        position: absolute;
        margin: 0;
        left: 25px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .face-id .facebooksvg {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 22px;
        width: 22px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .face-id .continuewithfacebo {
        background-color: rgba(255, 255, 255, 0);
        top: 23px;
        height: auto;
        width: auto;
        position: absolute;
        margin: 0;
        left: 60px;
        color: #2A314C !important;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        font-family: "Mukta-Regular", sans-serif !important;
        font-size: 17px;
        color: rgba(255, 255, 255, 1);
        text-align: left;
        line-height: 20px;
    }

    .signup .groups .forgot-password {
        background-color: #ccc;
        border-radius: 50px;
        top: 556px;
        height: 67px;
        width: 85%;
        position: absolute;
        margin: 0;
        left: 20px;
        color: #2A314C;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        cursor: pointer;
    }
    .signup .groups .forgot-password .email1 {
        background-color: rgba(255, 255, 255, 0);
        top: 21%;
        height: 22px;
        width: 22px;
        font-size: 28px;
        position: absolute;
        margin: 0;
        left: 25px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .forgot-password .facebooksvg {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 22px;
        width: 22px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .forgot-password .continuewithfacebo {
        background-color: rgba(255, 255, 255, 0);
        top: 23px;
        height: auto;
        width: auto;
        position: absolute;
        margin: 0;
        left: 60px;
        color: #2A314C !important;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        font-family: "Mukta-Regular", sans-serif !important;
        font-size: 17px;
        color: rgba(255, 255, 255, 1);
        text-align: left;
        line-height: 20px;
    }

    .signup .groups .facebook .rectangle3 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 67px;
        width: 100%;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .facebook .facebook1 {
        background-color: rgba(255, 255, 255, 0);
        top: 20px;
        height: 22px;
        width: 10px;
        position: absolute;
        margin: 0;
        left: 25px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .facebook .facebook1 .facebooksvg {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 22px;
        width: 10px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .facebook .continuewithfacebo {
        background-color: rgba(255, 255, 255, 0);
        top: 20px;
        height: auto;
        width: auto;
        position: absolute;
        margin: 0;
        left: 60px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        font-family: "Mukta-Regular", sans-serif !important;
        font-size: 17px;
        color: rgba(255, 255, 255, 1);
        text-align: left;
        line-height: 20px;
    }
    .signup .groups .google .continuewithgoogle {
        background-color: rgba(255, 255, 255, 0);
        top: 20px;
        height: auto;
        width: auto;
        position: absolute;
        margin: 0;
        left: 60px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        font-family: "Mukta-Regular", sans-serif !important;
        font-size: 17px;
        color: rgba(255, 255, 255, 1);
        text-align: left;
        line-height: 20px;
    }
    .signup .groups .google {
        background-color: rgba(255, 255, 255, 0);
        top: 554px;
        height: 67px;
        width: 85%;
        position: absolute;
        margin: 0;
        left: 20px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        cursor: pointer;
    }
    .signup .group .google .group2 .rectanglecopy {
        width: 90%;
    }
    .signup .groups .group2copy .google .rectanglecopy {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 67px !important;
        width: 100% !important;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .google .googleglogo {
        background-color: rgba(255, 255, 255, 0);
        top: 20px;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        left: 20px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .google .googleglogo .clipped {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .google .googleglogo .clipped .clipped4 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .google .googleglogo .clipped1 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .google .googleglogo .clipped1 .clipped4 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .google .googleglogo .clipped2 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .google .googleglogo .clipped2 .clipped4 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .google .googleglogo .clipped3 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .google .googleglogo .clipped3 .clipped4 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }

    .signup .groups .facebook .email1 {
        background-color: rgba(255, 255, 255, 0);
        top: 32%;
        height: 22px;
        width: 22px;
        position: absolute;
        margin: 0;
        left: 25px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .facebook .email1 .facebooksvg {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 22px;
        width: 22px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group {
        background-color: rgba(255, 255, 255, 0);
        top: 504px;
        width: 90%;
        position: absolute;
        margin: 0;
        left: 30px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group .email {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 67px;
        width: 100%;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        cursor: pointer;
    }
    .signup .group .email .rectangle3 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 67px;
        width: 90%;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group .email .email1 {
        background-color: rgba(255, 255, 255, 0);
        top: 20px;
        height: 22px;
        width: 22px;
        position: absolute;
        margin: 0;
        left: 25px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group .email .email1 .facebooksvg {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 22px;
        width: 22px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group .email .continuewithfacebo {
        background-color: rgba(255, 255, 255, 0);
        top: 32%;
        height: auto;
        width: auto;
        position: absolute;
        margin: 0;
        left: 60px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        font-family: "Helvetica", Helvetica, Arial, serif;
        font-size: 17px;
        color: rgba(255, 255, 255, 1);
        text-align: left;
        line-height: 20px;
    }
    .signup .group .facebook {
        background-color: rgba(255, 255, 255, 0);
        top: 164px;
        height: 67px;
        width: 100%;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        cursor: pointer;
    }
    .signup .group .facebook .rectangle3 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 67px;
        width: 90%;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group .facebook .facebook1 {
        background-color: rgba(255, 255, 255, 0);
        top: 20px;
        height: 22px;
        width: 10px;
        position: absolute;
        margin: 0;
        left: 25px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group .facebook .facebook1 .facebooksvg {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 22px;
        width: 10px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group .facebook .continuewithfacebo {
        background-color: rgba(255, 255, 255, 0);
        top: 20px;
        height: auto;
        width: auto;
        position: absolute;
        margin: 0;
        left: 60px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        font-family: "Helvetica", Helvetica, Arial, serif;
        font-size: 17px;
        color: rgba(255, 255, 255, 1);
        text-align: left;
        line-height: 20px;
    }
    .signup .group .google {
        background-color: rgba(255, 255, 255, 0);
        top: 84px;
        height: 67px;
        width: 100%;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        cursor: pointer;
    }
    .signup .group .google .group2 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 67px;
        width: 100%;
        position: relative;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .groups .google .rectanglecopy {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 67px !important;
        width: 100% !important;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group .google .group2 .continuewithgoogle {
        background-color: rgba(255, 255, 255, 0);
        top: 20px;
        height: auto;
        width: auto;
        position: absolute;
        margin: 0;
        left: 60px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        font-family: "Helvetica", Helvetica, Arial, serif;
        font-size: 17px;
        color: rgba(255, 255, 255, 1);
        text-align: left;
        line-height: 20px;
    }
    .signup .group .google .group2 .googleglogo {
        background-color: rgba(255, 255, 255, 0);
        top: 20px;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        left: 20px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group .google .group2 .googleglogo .clipped {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group .google .group2 .googleglogo .clipped .clipped4 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group .google .group2 .googleglogo .clipped1 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group .google .group2 .googleglogo .clipped1 .clipped4 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group .google .group2 .googleglogo .clipped2 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group .google .group2 .googleglogo .clipped2 .clipped4 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group .google .group2 .googleglogo .clipped3 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group .google .group2 .googleglogo .clipped3 .clipped4 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 20px;
        width: 20px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .createaccount {
        background-color: rgba(255, 255, 255, 0);
        top: 292px;
        height: auto;
        width: auto;
        position: absolute;
        margin: 0;
        left: 30px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        font-family: "Helvetica", Helvetica, Arial, serif;
        font-size: 22px;
        color: rgba(83, 96, 107, 1);
        text-align: left;
        line-height: 26px;
    }
    .signup .welcometopennywort {
        background-color: rgba(255, 255, 255, 0);
        top: 342px;
        height: auto;
        width: 90%;
        position: absolute;
        margin: 0;
        left: 30px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        font-family: "Helvetica", Helvetica, Arial, serif;
        font-size: 17px;
        color: rgba(137, 154, 168, 1);
        text-align: left;
        line-height: 28px;
    }
    .signup .group1 {
        background-color: rgba(255, 255, 255, 0);
        top: 46px;
        height: 30px;
        width: 117px;
        position: absolute;
        margin: 0;
        left: 30px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group1 .iconleft {
        background-color: rgba(255, 255, 255, 0);
        top: 5px;
        height: 20px;
        width: 12px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .signup .group1 .iconleft .path94 {
        background-color: rgba(255, 255, 255, 0);
        top: 4px;
        height: 11px;
        width: 20px;
        position: absolute;
        margin: 0;
        left: -4px;
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-90deg);
    }
    .signup .group1 .signup1 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: auto;
        width: auto;
        position: absolute;
        margin: 0;
        left: 31px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        font-family: "Helvetica", Helvetica, Arial, serif;
        font-size: 22px;
        color: rgba(255, 255, 255, 1);
        text-align: left;
        line-height: 26px;
    }
    /* .anima-animate-appear prefix for appear animations */
    .anima-animate-appear {
        opacity: 0;
        display: block;
        -webkit-animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
        -moz-animation: anima-reveal 0.3s ease-in 1 normal forwards;
        -o-animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
        animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
    }
    .anima-animate-disappear {
        opacity: 1;
        display: block;
        -webkit-animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
        -moz-animation: anima-reveal 0.3s ease-in 1 normal forwards;
        -o-animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
        animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
    }
    .anima-animate-nodelay {
        -webkit-animation-delay: 0;
        -moz-animation-delay: 0;
        -o-animation-delay: 0;
        animation-delay: 0;
    }
    @-webkit-keyframes anima-reveal {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    @-moz-keyframes anima-reveal {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    @-o-keyframes anima-reveal {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    @keyframes anima-reveal {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

