<!-- This file is subject to the terms and conditions defined in file
'LICENSE.text', which can be found at the root of this project. -->
<ion-item *ngIf="!IsEditMode" class="overall-margin item-ios">
    <ion-icon *ngIf="IconName" name="{{IconName}}" item-left></ion-icon>
    <ion-label class="stacked-header-label" *ngIf="IsEditMode" stacked>{{Header}}</ion-label>
    <ion-label class="y-char-label-fix" *ngIf="!IsEditMode" stacked>{{Header}}</ion-label>
    <ion-input type="text" placeholder="{{PlaceHolder}}" maxlength="{{MaxInputLength}}" [(ngModel)]="Value" *ngIf="IsEditMode && !UseTextArea"></ion-input>
    <ion-textarea fz-elastic type="text" [readonly]="true" placeholder="No Description" *ngIf="!IsEditMode && UseTextArea" [(ngModel)]="Value"></ion-textarea>
    <ion-textarea fz-elastic type="text" placeholder="{{PlaceHolder}}" maxlength="{{MaxInputLength}}" [(ngModel)]="Value" *ngIf="IsEditMode && UseTextArea"></ion-textarea>
    <ion-label class="y-char-fix" *ngIf="!IsEditMode && !UseTextArea">{{Value}}</ion-label>
</ion-item>
<!--
    Note: The inner block below here is a DUPLICATE of the above block, but only handling the positive case.
    The reason why we're doing this is doing a conditional in an ngClass doesn't always propogate
    properly to the controls underneath (e.g. on Android), the workaround is to just use ngIf explicitly as well as
    specify the exact class to use for each block.
-->
<ion-item *ngIf="IsEditMode" class="overall-margin item-md">
    <ion-icon *ngIf="IconName" name="{{IconName}}" item-left></ion-icon>
    <ion-label class="stacked-header-label" *ngIf="IsEditMode" stacked>{{Header}}</ion-label>
    <ion-label class="y-char-label-fix" *ngIf="!IsEditMode" stacked>{{Header}}</ion-label>
    <ion-input type="{{KeyboardType}}" placeholder="{{PlaceHolder}}" maxlength="{{MaxInputLength}}" [(ngModel)]="Value" *ngIf="IsEditMode && !UseTextArea"></ion-input>
    <ion-textarea fz-elastic type="text" [readonly]="true" placeholder="No Description" *ngIf="!IsEditMode && UseTextArea" [(ngModel)]="Value"></ion-textarea>
    <ion-textarea fz-elastic type="text" placeholder="{{PlaceHolder}}" maxlength="{{MaxInputLength}}" [(ngModel)]="Value" *ngIf="IsEditMode && UseTextArea"></ion-textarea>
    <ion-label class="y-char-fix" *ngIf="!IsEditMode && !UseTextArea">{{Value}}</ion-label>
</ion-item>
<p *ngIf="MaxInputLength && IsEditMode" class="counter" text-right no-margin padding-right>{{ CharactersLeft }}/{{ MaxInputLength }} characters left</p>
<p ion-text *ngIf="ShouldShowInvalidText && InvalidText" color="danger" padding-left>
    {{InvalidText}}
</p>
