adaptable-text-label {
    .y-char-fix {
        margin: 7px 8px 3px 0px;
        color: black;
    }

    .label.y-char-label-fix {
        margin: 7px 8px 3px 0px;
        color: black;
    }

    .label.stacked-header-label {
        color: black;
    }

    .item-input:last-child.no-bottom-border {
        border-bottom: 0px;
    }

    .overall-margin {
        margin: 10px 0px 10px 0px;
    }

    .counter {
        font-size: 10px;
    }

    textarea {
        resize: both;
    }
}
