<!-- This file is subject to the terms and conditions defined in file
    'LICENSE.text', which can be found at the root of this project. -->

<ion-tabs *ngIf="IsAdmin" #mainTabs (ionChange)="tabChanged($event)">
    <ion-tab [root]="tab1Root" tabIcon="calendar" tabTitle="Calendar" name="custom-icon1">
        <ion-label>Calendar</ion-label>
    </ion-tab>
    <ion-tab [root]="tab2Root" tabIcon="clipboard" tabTitle="Requests" name="custom-icon2">
        <ion-label>Requests</ion-label>
    </ion-tab>
    <ion-tab [root]="tab3Root" tabIcon="chatboxes" tabTitle="Messages" name="custom-icon3">
        <ion-label>Messages</ion-label>
    </ion-tab>
    <ion-tab [root]="tab4Root" tabIcon="settings" tabTitle="Settings" name="custom-icon4">
        <ion-label>Settings</ion-label>
    </ion-tab>
</ion-tabs>

<ion-tabs *ngIf="IsLandlord" #mainTabs (ionChange)="tabChanged($event)">
    <ion-tab [root]="tab2Root" tabIcon="clipboard" tabTitle="Requests" name="custom-icon2">
        <ion-label>Requests</ion-label>
    </ion-tab>
    <ion-tab [root]="tab6Root" tabIcon="clipboard" tabTitle="Completed Services" name="custom-icon2">
        <ion-label>Completed Services</ion-label>
    </ion-tab>
    <ion-tab [root]="tab4Root" tabIcon="settings" tabTitle="Settings" name="custom-icon4">
        <ion-label>Settings</ion-label>
    </ion-tab>
</ion-tabs>

<ion-tabs *ngIf="IsTenant" #mainTabs (ionChange)="tabChanged($event)">
    <ion-tab [root]="tab2Root" tabIcon="clipboard" tabTitle="Requests" name="custom-icon2">
        <ion-label>Requests</ion-label>
    </ion-tab>
    <ion-tab [root]="tab4Root" tabIcon="settings" tabTitle="Settings" name="custom-icon4">
        <ion-label>Settings</ion-label>
    </ion-tab>
</ion-tabs>

<ion-tabs *ngIf="IsStaff" #mainTabs (ionChange)="tabChanged($event)">
    <ion-tab [root]="tab1Root" tabIcon="calendar" tabTitle="Calendar" name="custom-icon1">
        <ion-label>Calendar</ion-label>
    </ion-tab>
<!--     <ion-tab [root]="tab2Root" tabIcon="clipboard" tabTitle="Requests" name="custom-icon2">
        <ion-label>Requests</ion-label>
    </ion-tab> -->
     <ion-tab [root]="tab3Root" tabIcon="chatboxes" tabTitle="Messages" name="custom-icon3">
        <ion-label>Messages</ion-label>
    </ion-tab>
    <ion-tab [root]="tab5Root" tabIcon="ios-timer" tabTitle="Time Card" name="custom-icon2">
        <ion-label>Time Card</ion-label>
    </ion-tab>
    <ion-tab [root]="tab4Root" tabIcon="settings" tabTitle="Settings" name="custom-icon4">
        <ion-label>Settings</ion-label>
    </ion-tab>
</ion-tabs>