page-tabs {
	background-color: transparent;
    ion-tabs .tabbar {
        background-size: cover;
        background-position: top center;
        height              : 90px;
        width               : 100%;
        margin              : 0;
        left                : 0px;
        -ms-transform       : rotate(0deg); /* IE 9 */
        -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
        transform           : rotate(0deg);
        background-color: #e7e7e7;
        font-family: "Mukta-Regular", sans-serif !important;
    }

    .tabs-md .tab-button[aria-selected="true"],
    .tabs-ios .tab-button[aria-selected="true"] {
        color: #5a738e;
        font-weight: bold;
        font-family: "Mukta-Regular", sans-serif !important;
    }
}