
page-building-details {
    .segment-ios .segment-button {
        border-color: #666 !important;
        color: #666;
        font-size: 14px;
        font-family: "Mukta-Regular", sans-serif !important;
        background-color: #b4b4b4;
    }
    .segment-ios .segment-button.segment-activated {
        border-color: #666 !important;
        color: #666;
        font-size: 14px;
        font-family: "Mukta-Regular", sans-serif !important;
        background-color: #eaeaea !important;
    }
    .segment-md .segment-button.segment-activated, .segment-ios .segment-button.segment-activated {
        border-color: #666 !important;
        color: #666;
        background-color: #eaeaea !important;
        font-size: 14px;
        font-family: "Mukta-Regular", sans-serif !important;
    }
    .list-md .item-block .item-inner {
        border-bottom: 0px;
    }
    ion-row {
        background-color: transparent !important;
        color: #fff !important;
    }
    .item-md, .item-ios {
        background-color: transparent !important;
        color: #fff !important;
        padding-right: 16px;
        font-family: "Mukta-Regular", sans-serif !important;
        font-size: 18px !important;
        p {
            color: #fff !important;
        }
    }
    ion-col {
        text-align: left;
        .building {
            background: transparent !important;
        }
    }

    ion-label {
        
    }

    .tenant-update {
        background-color: #e86d6d !important;
        font-weight: bold;
        color: #fff;
    }
    ion-row {
        background-color: transparent !important;
        color: #fff !important;
    }

    ion-list {
        display: block !important;
    }
    ion-col {
        display: block;
        .building {
            background: transparent !important;
        }
    }

    ion-content {
        background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
        background-size: cover;
    }
    background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
    background-size: cover;
    .spinner-boundaries {
        padding: 10px 0;
        width: 30px;
        margin: 0 auto;
    }

    .scroll-content {
        .slide-zoom {
            position: absolute;
            top: 0;
        }
        .header-overlay {
            width: 100%;
            height: 200px;
            position: absolute;
            left: 0;
            top: 5%;
            background: rgba(0,0,0,0.6);
            z-index: 999;
            text-align: center;
            font-family: 'Mukta-Regular', sans-serif !important;
            color: #fff;
            font-size: 24px;
            padding: 7%;
        }
        .divider-header {
            font-size: large;
            align-content: center;
            font-family: "Mukta-Regular", sans-serif !important;
            font-weight: bold;
            color: #5a738e;
            background-color:#e7e7e7;
            padding-top: 1%;
            padding-bottom: 1%;
            width: 100%;
        }
        background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
        background-size: cover;
        .img-header {
            font-family: "Mukta-Regular", sans-serif !important;
            height: 200px;
            text-align: center;
            color: #fff;
            font-size: 24px;
            padding: 7%;
            background: #646464;
            border-bottom: 2px solid aliceblue;
        }
        @include breakpoint("iPhoneX") {
            margin-bottom: 0px !important;
        }

        @include breakpoint("iPhoneXSMax") {
            margin-bottom: 0px !important;
        }
        @include breakpoint("iPhoneXR") {
            margin-bottom: 0px !important;
        }
    }
    
}
