<!-- This file is subject to the terms and conditions defined in file
'LICENSE.text', which can be found at the root of this project. -->
<ion-header>
    <ion-navbar class="default-nav" align-title="center">
        <ion-buttons left>
            <button ion-button (click)="closeAction()">
                <ion-icon (click)="closeAction()" class="toolbar-left-button-icon-margin" name="md-arrow-back" item-left></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{ BuildingTitle }}</ion-title>
  <!--       <ion-buttons end>
            <button ion-button (click)="AddNote()">
                <ion-icon style="font-size: 18px;" class="toolbar-right-button-icon-margin" name="add" item-left></ion-icon>
            </button>
        </ion-buttons> -->
    </ion-navbar>
    <!-- <ion-segment *ngIf="(null != building)" style="background-color: #eaeaea !important" no-padding [(ngModel)]="BuildingToggle">
        <ion-segment-button value="details">
            Details
        </ion-segment-button>
        <ion-segment-button value="notes">
            Notes
        </ion-segment-button>
    </ion-segment> -->
</ion-header>
<ion-content no-padding fullscreen>
    <div class="header-overlay">
        <img *ngIf="(null != building)" src="{{GetIcon(building.info.type)}}" style="width: 80px; height: 80px;"><br>
        <p *ngIf="(null != building)">{{ building.info.name }}</p>
    </div>
    <div id="headerImage" class="img-header" style="background-image: url('assets/img/layout/login-bg.jpg'); background-size: cover; background-position: center center;">
        
    </div>
    <ion-slides [ngSwitch]="BuildingToggle" *ngIf="!(loading$ | async)">
        <!-- 
            NEW REQUESTS
        -->
        <ion-slide *ngSwitchCase="'details'">
            <ng-container>
                <ion-list *ngIf="!(loading$ | async)">
                    <ng-container class="collapsible-control-content" *ngIf="(null != building)">
                        <div class="divider-header" style="font-size: large; text-align: center">Property Information</div>
                        <ion-row style="margin-top: 1%;padding-left: 11px;border-bottom: 1px solid #fff;" class="full-width">
                            <ion-col col-50>
                                <span style="font-size: 16px; text-decoration: underline;font-weight: bold;"> Address<br /> </span>
                                <span>{{ building.info.address.line1 }}</span><br>
                                <span *ngIf="((null != building) && (null != (building.info.address.line2)) && ((building.info.address.line2) !== ''))">{{ building.info.address.line2 }}<br></span>
                                <span>{{ building.info.address.city }}, {{ building.info.address.state }} {{ building.info.address.zip }}</span>
                            </ion-col>
                            <ion-col col-50>
                                <span style="font-size: 16px; text-decoration: underline;"> Property Type<br /></span>
                                <span>{{ building.info.type }}</span><br>
                            </ion-col>
                        </ion-row>
                        <ion-item style="margin-top: 1%; display: block;" class="full-width">
                            <div *ngIf="(null != building.landlords) && (building.landlords.length > 0)">
                                <span style="text-decoration: underline; font-weight: bold;">Owners:</span>
                                <div style="display: block;" *ngFor="let landlord of building.landlords">
                                    <span (click)="expandBldg(building, building.orgID)">Name: {{ landlord.firstName }} {{ landlord.lastName }}</span><br>
                                    <ion-row>
                                        <ion-col col-50>
                                            <span *ngIf="(null != landlord.email) && (landlord.email !== '')">
                                                Email: {{ landlord?.email }}<br>
                                                <button (click)="EmailProfile(landlord.email)" style="width: 100px;padding: 7%;font-family: 'Mukta-Regular', sans-serif !important;font-weight: bold;font-size: 16px;color: #000;margin-right: 6%;" ion-button color="light" item-left>
                                                    <ion-icon name="ios-send"></ion-icon>
                                                    Email
                                                </button>
                                            </span>
                                        </ion-col>
                                        <ion-col col-50>
                                            <span *ngIf="(null != landlord.phone) && (landlord.phone !== '')">
                                                <br><br>Phone: {{ landlord?.phone }}<br>
                                                <button (click)="CallProfile(landlord.phone, landlord.firstName, landlord.lastName)" style="width: 100px;padding: 7%;font-family: 'Mukta-Regular', sans-serif !important;font-weight: bold;font-size: 16px;color: #000;margin-right: 6%;" ion-button color="light" item-left>
                                                    <ion-icon name="ios-call"></ion-icon>
                                                    Call / Text
                                                </button>
                                            </span>
                                        </ion-col>
                                    </ion-row>
                                </div>
                            </div>
                        </ion-item>
                        <ion-list>
                            <div class="divider-header" style="font-size: large; text-align: center">Tasks</div>
                            <ion-item *ngFor="let task of tasks$ | async" [ngClass]="((null != task.updatedRole) && (task.updatedRole === 'Tenant') && (IsNotTenant)) ? 'tenant-update' : ''" style="border-bottom: 1px solid #fff" (click)="expandTask(task)">
                                <ion-col style="width: 30% !important;">
                                    <img src="{{ ((null != task.photoURL) && (task.photoURL !== '') ? task.photoURL : './assets/icon/new.png') }}" style="max-width: 130px; border-radius: 25px;">
                                </ion-col>
                                <ion-col style="width: 70% !important;">
                                    <strong style="font-size: 17px">{{ task.subject }}</strong> <span style="font-size: 96%; color: #ffcb00;">({{ task.category }})</span><br>
                                    {{ task.buildingName }} Unit {{ task.clientUnit }}<br>
                                    Added on {{ (((null != task) && (null != task.date)) ? (task.date | date: 'short') || "N/A" : "N/A") }}<br>
                                    <span style="text-decoration: underline;">Last Updated:</span><br><span style="font-size: 80%;">{{ task.updateAuthor }}<br />{{ task.updatedRole }}<br />{{ (task.lastUpdated | date:'short') || "Time Error" }}</span><br>
                                </ion-col>
                            </ion-item>
                        </ion-list>
                        <ion-list *ngIf="(null != (tasks$ | async) && ((tasks$ | async).length == 0)) || (null == (tasks$ | async))">
                            <!-- <div class="divider-header" style="font-size: large; text-align: center">No Tasks</div> -->
                        </ion-list>
                    </ng-container>
                </ion-list>
            </ng-container>
        </ion-slide>
        <ion-slide *ngSwitchCase="'notes'">
            <ng-container>
                <ion-list *ngIf="!(loading$ | async)">
                    <ng-container class="collapsible-control-content">
                        <ion-list *ngIf="((null == (notes$ | async)) && ((notes$ | async).length === 0)) || (null == (notes$ | async))">
                            <div class="divider-header" style="font-size: large; text-align: center">Notes</div>
                            <ion-item>
                                No Notes
                            </ion-item>
                        </ion-list>
                        <ion-list *ngIf="((null != (notes$ | async)) && ((notes$ | async).length > 0))">
                            <div class="divider-header" style="font-size: large; text-align: center">Notes</div>
                            <ion-item (click)="UpdateNote(note)" *ngFor="let note of (notes$ | async)" style="border-bottom: 1px solid aliceblue; height: 100px; font-family: 'Mukta-Regular', sans-serif !important;">
                                <p style="font-size: 16px; font-weight: bold;text-decoration: underline;">{{ note.title }}</p>
                                <small>by {{ note.authorName }} on {{ (note.date | date:'short') || "Time Error" }}</small>

                                <p style="font-size: 14px;">{{ note.message }}</p>
                            </ion-item>
                        </ion-list>
                    </ng-container>
                </ion-list>
            </ng-container>
        </ion-slide>
    </ion-slides>
    <loading-component [ShowLoading]="(loading$ | async)"></loading-component>
</ion-content>