page-profile {
    .scroll-content {
        font-family: "Helvetica", Helvetica, Arial, serif !important;
        padding: 0 0 !important;
        .header {
            padding-top: 24px;
            background: linear-gradient(45deg, #1fc3e9 36%, #8e7eeb 100%);
            .top {
                display: flex;
                flex: 1;
                flex-direction: row;
                justify-content: space-around;
                .username {
                    display: flex;
                    flex-direction: column;
                    font-size: 24px;
                    font-family: "Helvetica", Helvetica, Arial, serif;
                    color: #fff;
                }
                .buttons-left {
                    button {
                        background-color: transparent;
                        color: #fff;
                        box-shadow: 0px;
                        width: 60px;
                        height: 60px;
                    }
                    .button-md, .button-ios {
                        box-shadow: 0px !important;
                    }
                }
                .buttons-right {
                    button {
                        background-color: transparent;
                        color: #fff;
                        box-shadow: 0px;
                        width: 60px;
                        height: 60px;
                    }
                    .button-md, .button-ios {
                        box-shadow: 0px !important;
                    }
                }
            }
            .profileInfo {
                padding: 10px;
                padding-left: 9%;
                padding-right: 9%;
                text-align: center;
                .profilePic {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    @include box-shadow(
                        0px 5px 18px -4px rgba(160, 160, 160, 0.5)
                    );
                }
            }
            
        } // Filter tabs
        ion-segment {
            border-top: 1px solid lightgray;
            height: 45px;
            background: #fff;
            ion-segment-button {
                border: none !important;
                font-size: 1em !important;
                font-weight: bold !important;
                border-radius: 0 !important;
                height: 100% !important;
                padding-top: 7.5px;
                background: #fff;
                color: #4285f4;
                &.segment-activated {
                    color: #fff !important;
                    background-color: #4285f4 !important;
                    border-bottom: 3px solid black !important;
                }
            }
        }
        .spinner-boundaries {
            margin-top: 20%;
            font-size: 20px;
            width: 50px;
            height: 50px;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        
        ion-slides {
            height: auto !important;
            &.margin-boi {
                // fix later: check if it's mine or not
                margin-top: 100px;

                .media {
                    padding-top: 10px;
                }
            }
            .swiper-container {
                overflow: auto;
                ion-slide {
                    width: 100% !important;
                }
                .postHolder {
                    display: flex;
                    flex-direction: column;
                    border-bottom: 1px solid gray;
                    padding-top: 12px;
                    padding-bottom: 10px;
                    text-align: left;
                    .postContainer {
                        .username {
                            font-size: 1.1em;
                        }
                        .date {
                            font-size: 0.7em;
                        }
                        .postText {
                            font-size: 0.8em;
                        }
                    }
                }
                .empty-posts {
                    opacity: 0.8;
                    .empty-img {
                        width: 65%;
                        display: block;
                        margin: 0 auto;
                    }
                    p {
                        font-size: 1em;
                        text-align: center;
                    }
                }
                .media {
                    .media-holder {
                        border: 5px solid #fff;
                        height: 18vh;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        border-radius: 10px;
                    }
                }
                .merch {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    button {
                        background: transparent;
                        width: 100%;
                        &.merchItem {
                            width: 50%;
                        }
                    }
                }
            }
            .infinite-loading {
                display: block;
                margin-top: 10px;
                margin-bottom: 10px;
                .infinite-loading-text {
                    font-size: 0.8em;
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .postHolder {
        border-right: 1px solid gray;
    }
}

