<!-- This file is subject to the terms and conditions defined in file
'LICENSE.text', which can be found at the root of this project. -->
<ion-content>
    <div class="header">
        <div class="top">
            <div class="buttons-left">
                <button color="light" class="bar-button bar-button-ios" (click)="CancelEdits()" *ngIf="IsEditMode">
                    Cancel
                </button>
                <button class="bar-button bar-button-ios" (click)="ShowEditMode()" *ngIf="!IsEditMode && (ProfileToggle === 'account')">
                    Edit
                </button>
                <button class="bar-button bar-button-ios" (click)="SwitchDeleteMode()" *ngIf="!IsEditMode && (ProfileToggle === 'payment')">
                    Delete
                </button>
            </div>
            <div class="username">{{ Username }}</div>
            <div class="buttons-right">
                <button  (click)="SaveProfile()" class="bar-button bar-button-ios" *ngIf="IsEditMode && (ProfileToggle === 'account')">
                    Save
                </button>
                <button color="dark" class="bar-button bar-button-ios" (click)="Logout()" *ngIf="!IsEditMode && (ProfileToggle === 'account')">
                    Logout
                </button>
                <button color="dark" style="width: 45px; height: 45px;" solid round class="bar-button bar-button-ios" ion-button (click)="SwitchAddCardMode()" *ngIf="!IsEditMode && (ProfileToggle === 'payment')">
                    <ion-icon name="card"></ion-icon>
                </button>
            </div>
        </div>
    
        <div align="center" style="font-weight: bold; width: 100%; color: #fff;">{{ ((null != (profile$ | async) && (null != (profile$ | async).orgs) && (null != (profile$ | async).orgs.buildings)) ? ((profile$ | async).orgs.buildings[0].name) : "")}}</div><br />
        <div class="container profileInfo">
            <img src="{{ ProfilePic }}" class="profilePic" (click)="AddImage()" onerror="this.onerror=null;this.src='https://firebasestorage.googleapis.com/v0/b/silverbrick-live.appspot.com/o/Defaults%2Flogo-highres.png?alt=media&token=50dd2bba-b4b0-41d8-b0e2-8367bb15fed5'" />
        </div>

        <ion-segment no-padding [(ngModel)]="ProfileToggle">
            <ion-segment-button value="account">
                <ion-icon name="contact"></ion-icon>
            </ion-segment-button>
<!--             <ion-segment-button value="payment">
                <ion-icon name="card"></ion-icon>
            </ion-segment-button> -->
        </ion-segment>
    </div>
    <!--     <div class="spinner-boundaries">
        <ion-spinner color="dark" name="bubbles"></ion-spinner>
    </div> -->
    <ion-slides [ngSwitch]="ProfileToggle" *ngIf="(null != User)">
        <ion-slide *ngSwitchCase="'account'">
            <ng-container style="background-color: grey">
                <ion-list-header class="list-header">
                    Account Info
                </ion-list-header>
                <ion-list *ngIf="(null != User)">
                    <ion-item>
                        <ion-row>
                            <ion-col col-50>
                                Email
                            </ion-col>
                            <ion-col col-50 class="align-right">
                                {{ User.email }}
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-list>
                <ion-list-header class="list-header">
                    Billing Info
                </ion-list-header>
                <ion-list *ngIf="!IsEditMode && (null != User)">
                    <ion-item>
                        <ion-row>
                            <ion-col col-50>
                                Street
                            </ion-col>
                            <ion-col col-50 class="align-right">
                                {{ ShippingInfo.shipping.address.line1 }}
                            </ion-col>
                        </ion-row>
                    </ion-item>
                    <ion-item>
                        <ion-row>
                            <ion-col col-50>
                                Apt. / Unit #
                            </ion-col>
                            <ion-col col-50 class="align-right">
                                {{ShippingInfo.shipping.address.line2 }}
                            </ion-col>
                        </ion-row>
                    </ion-item>
                    <ion-item>
                        <ion-row>
                            <ion-col col-50>
                                City
                            </ion-col>
                            <ion-col col-50 class="align-right">
                                {{ ShippingInfo.shipping.address.city }}
                            </ion-col>
                        </ion-row>
                    </ion-item>
                    <ion-item>
                        <ion-row>
                            <ion-col col-50>
                                State
                            </ion-col>
                            <ion-col col-50 class="align-right">
                                {{ ShippingInfo.shipping.address.state }}
                            </ion-col>
                        </ion-row>
                    </ion-item>
                    <ion-item>
                        <ion-row>
                            <ion-col col-50>
                                Zip Code
                            </ion-col>
                            <ion-col col-50 class="align-right">
                                {{ ShippingInfo.shipping.address.postal_code }}
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-list>
                <ion-list *ngIf="IsEditMode && (null != User)">
                    <ion-item>
                        <ion-row>
                            <ion-col col-50>
                                Street
                            </ion-col>
                            <ion-col col-50 class="align-right">
                                {{ ShippingInfo.shipping.address.line1 }}
                            </ion-col>
                        </ion-row>
                    </ion-item>
                    <adaptable-text-label [IsEditMode]="IsEditMode" PlaceHolder="{{ ShippingInfo.shipping.address.line2 }}" Header="Apt. / Unit #" [(Value)]="ShippingInfo.shipping.address.line2" Type="text" IconName="list"> </adaptable-text-label>
                    <ion-item>
                        <ion-row>
                            <ion-col col-50>
                                City
                            </ion-col>
                            <ion-col col-50 class="align-right">
                                {{ ShippingInfo.shipping.address.city }}
                            </ion-col>
                        </ion-row>
                    </ion-item>
                    <ion-item>
                        <ion-row>
                            <ion-col col-50>
                                State
                            </ion-col>
                            <ion-col col-50 class="align-right">
                                {{ ShippingInfo.shipping.address.state }}
                            </ion-col>
                        </ion-row>
                    </ion-item>
                    <ion-item>
                        <ion-row>
                            <ion-col col-50>
                                Zip Code
                            </ion-col>
                            <ion-col col-50 class="align-right">
                                {{ ShippingInfo.shipping.address.postal_code }}
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-list>
            </ng-container>
        </ion-slide>
        <!-- <ion-slide *ngSwitchCase="'payment'">
            <ng-container style="background-color: grey">
                <ion-list-header class="list-header" *ngIf="(PaymentInfo.length > 0)">
                    Payment Info
                </ion-list-header>
                <ion-list *ngIf="(null != User)">
                    <ion-item *ngFor="let card of PaymentInfo">
                        <button ion-button item-left>
                            <img src="{{ GetIconName(card.brand)}}" height="50" />
                        </button>
                        {{ card.last4 }}
                        <p style="font-size: 70%">
                            {{ card.exp_month }} / {{ card.exp_year }}
                        </p>
                        <button ion-button color="danger" *ngIf="IsDeleteCardMode" (click)="DeleteCard(card)" item-right>
                            <ion-icon name="trash"></ion-icon>
                        </button>
                    </ion-item>
                </ion-list>
                <ion-list-header class="list-header" *ngIf="IsAddingCard || (PaymentInfo.length === 0)">
                    New Card Info
                </ion-list-header>
                <form #newCardForm="ngForm" novalidate>
                    <ion-list *ngIf="IsAddingCard || (PaymentInfo.length === 0)">
                        <adaptable-text-label [IsEditMode]="true" PlaceHolder="{{ NewCard.number }}" Header="Card #" [(Value)]="NewCard.number" Type="tel" IconName="card"> </adaptable-text-label>
                        <ion-item style="flex: 0.5">
                            <ion-label>Expiration Month</ion-label>
                            <ion-select id="expMonthInput" multiple="false" name="exp_month" [(ngModel)]="NewCard.exp_month" placeholder="{{ NewCard.exp_month }}" #exp_month="ngModel" [ngModelOptions]="{ standalone: true }" [selectOptions]="expMonthOptions" required>
                                <ion-option *ngFor="let month of ExpMonth; let idx = index" [value]="month">
                                    {{ month }}
                                </ion-option>
                            </ion-select>
                        </ion-item>
                        <ion-item style="flex: 0.5">
                            <ion-label>Expiration Year</ion-label>
                            <ion-select id="expYearInput" multiple="false" name="exp_year" [(ngModel)]="NewCard.exp_year" placeholder="{{ NewCard.exp_year }}" #exp_year="ngModel" [ngModelOptions]="{ standalone: true }" [selectOptions]="expYrOptions" required>
                                <ion-option *ngFor="let year of ExpYear; let idx = index" [value]="year">
                                    {{ year }}
                                </ion-option>
                            </ion-select>
                        </ion-item>
                        <adaptable-text-label [IsEditMode]="true" PlaceHolder="{{ NewCard.cvc }}" Header="Security Code" [(Value)]="NewCard.cvc" Type="tel" IconName="ios-lock" required> </adaptable-text-label>
                        <ion-item full-button color="grey" (click)="SaveCard(newCardForm)">
                            Save Card
                        </ion-item>
                    </ion-list>
                </form>
            </ng-container>
        </ion-slide> -->
    </ion-slides>
</ion-content>

