page-message-expand {
    .upload-bar {
        width: 100%;
        img {
            position: absolute;
            top: 7px;
            left: 9px;
            max-width: 40px;
            max-height: 40px;
            width: 100%;
            height: 100%;
        }
        .cancel-upload {
            position: absolute;
            top: 10px;
            right: 9px;
            min-height: 14px;
            line-height: 14px;
        }
        .cancel-upload:before {
            font-size: 16px !important;
            line-height: 16px !important;
        }
        .upload-container {
            margin: 0 4px 4px 55px;
            padding: 2px 0;
            p {
                color: #fff;
                margin-bottom: 2px;
                text-overflow: clip !important;
                white-space: normal !important;
            }
            .upload-done {
                font-weight: bold;
            }
        }
        .progress-bar,
        .progress-loader {
            border-radius: 100px;
            height: 13px;
        }
        .progress-bar {
            width: 100%;
            overflow: hidden;
            background-color: #fff;
            .progress-loader {
                background-color: #2A314C;
            }
        }
    }
    ion-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        ion-buttons {
            width: 30px;
        }

        .toolbar-background, .toolbar-background-ios {
            background-color: #fff;
        }

        ion-title {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            text-align: center;
        }

        button {
            .profilePic {
                width: 30px;
                height: 30px;
                border-radius: 15px;
            }
        }

        .close {
            margin-left: auto;
            max-width: 20px;
            max-height: 20px;
        }

        .newPost {
            height: 24px;
        }
    }
    ion-footer {
        background-color: transparent;
    }
    ion-toolbar {
        background-color: transparent;
    }

    ion-label {
        display: flex;
    }
    .scroll-content {
        .selected-user {
            font-family: 'Mukta-Regular', sans-serif !important;
            font-size: 16px;
            color: #2A314C;
            text-decoration: underline;
            margin-bottom: 5%;
        }
        font-family: "Mukta-Regular", sans-serif !important;
        ion-select {
            max-width: 100%;
        }
        padding-top: 0 !important;
        background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);

        margin-bottom: 60px;
        .rectangle {
            top: 0px;
            height: 100%;
            width: 100%;
            position: absolute;
            margin: 0;
            left: 0px;
            -ms-transform: rotate(0deg); /* IE 9 */
            -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
            transform: rotate(0deg);
        }
        .rectangle1 {
            top: 0px;
            height: 100%;
            width: 100%;
            position: relative;
            margin: 0;
            left: 0px;
            -ms-transform: rotate(0deg); /* IE 9 */
            -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
            transform: rotate(0deg);
            opacity: 1;
            display: flex;
            flex-direction: column;
            .message-control {
                ion-item {
                    border-top: none;
                }
            }
            .group2copy2 {
                font-family: "Mukta-Regular", sans-serif !important;
                background-color: rgba(255, 255, 255, 0);
                top: 20px;
                height: 148px;
                width: 85%;
                position: absolute;
                margin: 0;
                left: 30px;
                -ms-transform: rotate(0deg); /* IE 9 */
                -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
                transform: rotate(0deg);
            }
            .group2copy2 .rectanglecopy3 {
                background-color: rgba(242, 242, 242, 1);
                top: 0px;
                height: 44px;
                width: 100%;
                position: absolute;
                margin: 0;
                left: 0px;
                border-radius: 8px;
                -ms-transform: rotate(0deg); /* IE 9 */
                -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
                transform: rotate(0deg);
            }
        }
        
    }

    .scrollDownBtn {
        z-index: 1;
        right: 20px;
        bottom: 66px;
        position: absolute;
        &:before {
            background-color: #000;
            border-radius: 100%;
            padding: 0 6px !important;
        }
    }
    ion-footer {
        ion-icon {
            font-size: 32px !important;
        }
        background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
        padding: 0px !important;
        ion-toolbar {
            padding: 0px !important;
            .toolbar-background, .toolbar-background-ios {
                background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
            }
            ion-item {
                height: 100% !important;
                padding: 0px !important;
                background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
                .item-md .item-button, .item-ios .item-button {
                    width: 55px;
                    height: 55px;
                    background: transparent;
                    img {
                        max-width: 90%;
                    }
                }
                height: 60px;
                display: flex;
                bottom: 0 !important;
                left: 0px;
                .input-wrapper {
                    max-width: 315px;
                }
                .button-inner {
                    width: 90%;
                }
                ion-input {
                    background-color: rgba(255, 255, 255, 1);
                    height: 40px;
                    box-sizing: border-box;
                    position: relative;
                    float: left;
                    margin: 0;
                    left: 0px;
                    border-radius: 17px !important;
                    border-style: solid !important;
                    border-width: 1px !important;
                    border-color: rgba(255, 255, 255, 1) !important;
                    -ms-transform: rotate(0deg); /* IE 9 */
                    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
                    transform: rotate(0deg);
                }
                .camera-button {
                    border: none !important;
                    box-shadow: none !important;
                    width: 35px;
                    height: 35px !important;
                    float: left;
                    border: none;
                    background: transparent;
                }
                .send-button {
                    border: none;
                    float: right;
                    right: 0px;
                    width: 35px;
                    height: 35px !important;
                    box-shadow: none !important;
                    background: transparent;
                    border: none;
                    ion-icon {
                        font-size: 32px !important;
                    }
                }
                .outline {
                    float: left;
                    right: 5px;
                    border: none;
                    width: 62px;
                }
            }
        }
    }
}

