<ion-header>
    <ion-navbar class="default-navbar" align-title="center">
        <ion-title>{{ RoomTitle }}</ion-title>
        <ion-buttons end>
            <button ion-button (click)="closeMessage()">
                <img src="assets/icon/Close.png" class="close" />
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar no-border-top no-padding *ngIf="IsUploading">
        <div class="upload-bar" *ngIf="IsUploading">
            <img src="data:image/png;base64,{{UploadPreview}}" />
            <div class="upload-container">
                <p *ngIf="!IsUploadDone">
                    Uploading your file... ({{ProgressPercent}}%)
                </p>
                <p *ngIf="IsUploadDone" class="upload-done energized">
                    {{UploadStatus}}
                </p>
                <div class="progress-bar">
                    <div class="progress-loader" [style.width.%]="ProgressPercent"></div>
                </div>
            </div>
            <button icon-only color="danger" class="cancel-upload" (click)="CancelImageUpload()"></button>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content (ionScroll)="OnScroll($event)">
    <div class="rectangle1" *ngIf="!IsLoading">
        <!-- <img src="" style="height: 100%; width: 100%; position: fixed;z-index: 0;background: url('assets/img/layout/onboarding-1a-rectangle.png');background-size: cover;background-repeat: repeat-y;"> -->
        <div *ngIf="IsNewChat" class="group2copy2 animated fadeInUp">
            <ion-item class="full-width flex-center" *ngIf="IsNotTenant">
                <label> User Search </label>
                <ion-input [(ngModel)]="searchString" mdInput placeholder="Search for a user" (input)="SearchUsers($event.target.value)" type="text" name="text" autofocus="true"></ion-input>
            </ion-item>
            <div style="padding-left: 16px;justify-items: center;" *ngIf="((null != (SearchUsers$ | async)) && ((SearchUsers$ | async).length > 0)) && (IsSearching)" style="background-color: #eaeaea;">
                <ion-row *ngFor="let user of (SearchUsers$ | async)" (click)="SelectUser(user)" style="display: flex; padding: 5px;">
                    <letter-avatar [text]="GetName(user)" [size]="46" style="border-radius: 50%; width: 60px; height: 60px;;"></letter-avatar>
                    <div style="display: block; width: 75%;margin-left: 5%;border-left: 1px solid rgba(0,0,0,0.3);padding-left: 5%;">
                        {{ user.firstName }} {{ user.lastName }}<br>
                        <b>{{ user.role }}</b>
                        <br>{{ GetBuilding(user.orgs) }}
                    </div>
                </ion-row>
            </div>
            <div style="text-align: center; display: grid; justify-content: center;background-color: #eaeaea;justify-items: center;" *ngIf="IsNotTenant && (null != SelectedUser)" class="full-width flex-center" id="selectTenant">
                <span class="selected-user">Selected User</span><br>
                <letter-avatar [text]="GetName(SelectedUser)" [size]="46" style="width: 60px; height: 60px; border-radius: 50%;"></letter-avatar>
                {{ SelectedUser.firstName }} {{ SelectedUser.lastName }}<br>
                <b>{{ SelectedUser.role }}</b>
                <br>({{ GetBuilding(SelectedUser.orgs) }})
            </div>
        </div>
        <message-control *ngIf="!IsNewChat" style="z-index: 9999;" class="message-control" [content]="content" [RoomID]="RoomID"> </message-control>
    </div>
    <loading-component [ShowLoading]="IsLoading"></loading-component>
</ion-content>
<button *ngIf="!HideScrollDownButtom" class="scrollDownBtn" color="light" ion-fab mini (click)="ScrollToBottom()">
    <ion-icon name="arrow-dropdown-circle"></ion-icon>
</button>
<ion-footer no-border>
    <ion-toolbar>
        <ion-item>
            <button ion-button item-left icon-only (click)="SendImage()" *ngIf="!IsNewChat" [disabled]="!IsSocketConnected" class="camera-button">
                <ion-icon name="camera"></ion-icon>
            </button>
            <ion-input class="rectanglecopy8" type="text" autocorrect="on" placeholder="Type in your message..." [(ngModel)]="TextMessage"> </ion-input>
            <button *ngIf="!IsNewChat" ion-button item-right (click)="SendText()" [disabled]="!IsSocketConnected" class="send-button">
                <ion-icon name="ios-send"></ion-icon>
            </button>
            <button *ngIf="IsNewChat" ion-button item-right (click)="StartChat()" [disabled]="!IsSocketConnected" class="send-button">
                <ion-icon name="ios-send"></ion-icon>
            </button>
        </ion-item>
    </ion-toolbar>
</ion-footer>

