<!-- This file is subject to the terms and conditions defined in file
'LICENSE.text', which can be found at the root of this project. -->
<ion-header>
    <ion-navbar class="default-nav" align-title="center">
        <ion-buttons left>
            <button ion-button (click)="Dismiss()" *ngIf="!IsEditMode">
                <ion-icon class="toolbar-left-button-icon-margin" name="md-arrow-back" item-left></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{ RequestsTitle }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="!(loading$ | async) && !IsLoading">
        <ion-input [(ngModel)]="searchRef" mdInput placeholder="Search" (input)="SearchUsers($event.target.value)" class="search-bar" type="text" name="text" autofocus="true"></ion-input>
        <ion-list *ngIf="SearchingStaff">
            <ion-item *ngFor="let user of (staffUsers$ | async)" style="border-bottom: 1px solid #fff" (click)="chooseStaff(user)">
                {{ user.firstName }} {{ user.lastName }}<br />
                <span class="subtitle">{{ user.role }}</span>
            </ion-item>
        </ion-list>
        <ion-list *ngIf="SearchingTenant">
            <ion-item *ngFor="let user of (tenants$ | async)" style="border-bottom: 1px solid #fff" (click)="chooseTenant(user)">
                {{ user.firstName }} {{ user.lastName }}<br />
                <span class="subtitle">{{ GetBuilding(user.orgs) }}</span>
            </ion-item>
        </ion-list>

        <ion-list *ngIf="ScopingTasks">
            <ion-item *ngFor="let user of (usersScope$ | async)" style="border-bottom: 1px solid #fff" (click)="scopeStaff(user)">
                {{ user.firstName }} {{ user.lastName }} <span *ngIf="(null != user.todayTaskCount) && (user.firstName !== 'All')">( {{ user.todayCompletedTaskCount }} / {{ user.todayTaskCount }} )</span><br />
                <span class="subtitle">{{ user.role }}</span>
            </ion-item>
        </ion-list>

        <ion-list *ngIf="SearchingBuildings">
            <ion-item *ngFor="let bldg of (AllBuildings$ | async)" style="border-bottom: 1px solid #fff" (click)="chooseBuilding(bldg)">
                {{ bldg.name }} 
            </ion-item>
        </ion-list>
        <ion-list *ngIf="LandlordSearch">
            <ion-item *ngFor="let bldg of sessionData.user.orgs.buildings" style="border-bottom: 1px solid #fff" (click)="chooseBuilding(bldg)">
                {{ bldg.name }} 
            </ion-item>
        </ion-list>
    </ng-container>
    <loading-component [ShowLoading]="(loading$ | async) || IsLoading"></loading-component>
</ion-content>