page-audience-chooser {
    ion-navbar {
        .bar-button {
            color: #eaeaea !important;
            background-color: #424242 !important;
            width: 45px;
            height: 45px;
        }
    }
 
    ion-row {
        background-color: transparent !important;
        color: #fff !important;
    }
    .item-md, .item-ios {
        background-color: transparent;
        color: #fff !important;
    }

    ion-item {
        .item-inner {
            border-bottom: 0px !important;
        }
    }
    ion-content {
        background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
        background-size: cover;
    }
    background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
    background-size: cover;
    .spinner-boundaries {
        padding: 10px 0;
        width: 30px;
        margin: 0 auto;
    }
    .scroll-content {
        background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
        background-size: cover;
        @include breakpoint("iPhoneX") {
            margin-bottom: 90px !important;
        }

        @include breakpoint("iPhoneXSMax") {
            margin-bottom: 90px !important;
        }
        @include breakpoint("iPhoneXR") {
            margin-bottom: 90px !important;
        }
        .search-bar {
            background-color: #fff;
            color: #666;
            padding: 10px;
        }
        .subtitle {
            font-size: 85%;
            color: #ccc;
        }
    }
    .services {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: visible;
        margin-bottom: 0px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: transparent;
    }
    .services .spinner {
        content: "";
        position: absolute;
        height: 6px;
        background: #fff;
        top: 0;
        left: 0;
        width: 100%;
        animation: 1.2s loading infinite;
    }
    a {
        text-decoration: none;
    }
    div {
        -webkit-text-size-adjust: none;
    }
    .anima-full-width-a {
        width: 100%;
    }
    .anima-full-height-a {
        height: 100%;
    }
    div {
        -webkit-text-size-adjust: none;
    }
    .button-row {
        padding: 0;
        display: flex;
        flex-direction: row;
        border-top: 1px solid #e6e6e6;
        color: #2A314C;
        .button-col {
            text-align: center;
            justify-items: center;
            display: grid;
            background-color: #eaeaea;
            color: #2A314C;
            padding: 5%;
            font-size: 16px;
            font-family: "Mukta-Regular", sans-serif !important;
            font-weight: bold;
        }
        .button-col2 {
            text-align: center;
            justify-items: center;
            display: grid;
            background-color: #2A314C;
            color: #eaeaea;
            padding: 5%;
            font-size: 16px;
            font-family: "Mukta-Regular", sans-serif !important;
            font-weight: bold;
        }
    }
}

@media only screen and (min-width: 900px) {
    #postContainer {
        border-right: 1px solid gray;
    }
    .services .rectanglecopy {
        display: flex;
    }

    .services .rectanglecopy .rectangle3 {
        width: 32%;
    }
}
