page-home {
    ion-row {
        background-color: transparent !important;
        color: #fff !important;
    }
    .item-md, .item-ios {
        background-color: transparent !important;
        color: #fff !important;
    }
    ion-col {
        .building {
            background: transparent !important;
        }
    }
    
    ion-content {
        background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
        background-size: cover;
    }
    background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
    background-size: cover;
    .spinner-boundaries {
        padding: 10px 0;
        width: 30px;
        margin: 0 auto;
    }
    .scroll-content {
        background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
        background-size: cover;
        @include breakpoint("iPhoneX") {
            margin-bottom: 124px !important;
        }

        @include breakpoint("iPhoneXSMax") {
            margin-bottom: 124px !important;
        }
        @include breakpoint("iPhoneXR") {
            margin-bottom: 124px !important;
        }

        ion-label {
            display: flex;
        }
    }
    .services {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: visible;
        margin-bottom: 0px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: transparent;
    }
    .services .spinner {
        content: "";
        position: absolute;
        height: 6px;
        background: #fff;
        top: 0;
        left: 0;
        width: 100%;
        animation: 1.2s loading infinite;
    }
    a {
        text-decoration: none;
    }
    div {
        -webkit-text-size-adjust: none;
    }
    .anima-full-width-a {
        width: 100%;
    }
    .anima-full-height-a {
        height: 100%;
    }
    div {
        -webkit-text-size-adjust: none;
    }
    
}

@media only screen and (min-width: 900px) {
    #postContainer {
        border-right: 1px solid gray;
    }
    .services .rectanglecopy {
        display: flex;
    }

    .services .rectanglecopy .rectangle3 {
        width: 32%;
    }
}
