<!-- This file is subject to the terms and conditions defined in file
'LICENSE.text', which can be found at the root of this project. -->
<ion-header>
    <ion-navbar class="default-nav" align-title="center">
        <!-- <ion-title>Home</ion-title> -->
        <ion-title class="ion-text-left">
          <img src="assets/img/logo-title.png" style="max-width: 83px;" />
          
        </ion-title>
        <ion-buttons end>
            
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list *ngIf="!(loading$ | async)">
        <ion-item (click)="expandBldg(building, building.orgID)" *ngFor="let building of (allBuildings$ | async)" style="border-bottom: 1px solid #fff;cursor: pointer;">
            <ion-col style="vertical-align: top; max-width: 37% !important;">
                <button class="building" [disabled]="(loading$ | async)">
                    <img *ngIf="(null != building.info)" src="{{ GetIcon(building.info.type) }}" style="max-width: 60px;">
                    <img *ngIf="(null == building.info)" src="assets/icon/buildings.png" style="max-width: 60px;">
                </button>
            </ion-col>
            <ion-col style="vertical-align: top;">
                <span>{{ building.name }}</span><br>
                
            </ion-col>
            <button ion-button clear item-end>
                <ion-icon style="color: #fff !important; font-size: 32px;" name="ios-arrow-forward"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
    <loading-component [ShowLoading]="(loading$ | async)"></loading-component>
</ion-content>