<div class="header-calendar-wrapper">
    <div (click)="openDatePicker()" style="display: inline-flex">
        <div class="month">{{ getMonthName() }}</div>
        <ion-icon name="ios-arrow-down"></ion-icon>
    </div>
    <div #selectionWrapper class="day-wrapper">
        <div #daySlider *ngIf="years.length" [style.width]="getSliderWidth() + 'px'" class="selection-slider">
            <div class="selection-slider-padding"></div>

            <div #selection *ngFor="let d of getDaysInMonth()" [ngClass]="{ active: d == activeDay }" (click)="setActiveDay(d)" class="selection">
                {{ d }}
            </div>

            <div class="selection-slider-padding"></div>
        </div>
    </div>
</div>