@import "theme/variables";

.header-calendar-wrapper {
    text-align: center;
    padding-top: 3%;
    background-color: #1c233a;
    //background-color: $toolbar-background;

    color: #eaeaea;

    .datepicker-headline {
        font-size: 20px;
        color: #fff;
    }

    .datepicker-subline {
        margin-top: 0.5em;
        display: none;
    }

    .selection-wrapper {
        width: 100%;

        height: 7em;

        overflow-y: hidden;
        overflow-x: scroll;

        .selection-slider {
            margin: 0px;
            .dayName {
                font-size: 12px;
                text-transform: uppercase;
            }

            .selection-slider-padding {
                float: left;

                height: 10px;
                width: calc(50vw - 64px);
            }
            .holder {
                float: left;
                width: 50px;
                height: 50px;
                text-align: center;
                margin: 10px 11px;
                .selection {
                    float: left;

                    width: 50px;
                    height: 50px;
                    line-height: 50px;

                    margin: 0px;

                    font-size: 1.5em;
                    margin-top: 3px;
                    border-radius: 50px;

                    &.active {
                        background-color: #eaeaea;
                        color: #000;
                    }
                }
            }
        }
    }
}
