<div class="card">
    <div class="header calendar-header" style="display: flex; vertical-align: middle !important;">
        
        <h4 class="title">Job Calendar</h4>
    <!--     <button (click)="OneTimeTask()" class="btn btn-info btn-fill btn-md" style="float: left; margin: 10px; border: 1px solid #87c4e7 !important;">
            <span>New One-Time Task</span>
        </button> -->
        <button *ngIf="!isNewTask" (click)="RecurringTask()" class="btn btn-fill btn-md" style="float: right; margin: 10px; border: 1px solid #fff !important;">
            New Recurring Task
        </button>
      <!--   <button (click)="SpacesDetail()" class="btn btn-info btn-fill btn-md" style="float: right; margin: 10px; border: 1px solid #fff !important;">
           Create A Space
        </button> -->
        <p class="category"></p>
    </div>
    <div class="content table-responsive table-full-width" *ngIf="!(loading$ | async)">
        <mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate" (viewDateChange)="updateCalendarEvents($event)" (viewChange)="updateCalendarEvents($event)">
            
        </mwl-demo-utils-calendar-header>
        <ng-template #customCellTemplate let-day="day" let-locale="locale">
            <div class="cal-cell-top">
                <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
                <span class="cal-day-number">{{ day.date }}</span>
            </div>
            <div class="cal-events">
                <div 
                *ngFor="let event of day.events" 
                class="cal-alt-event" 
                [style.backgroundColor]="event.color.primary"
                [mwlCalendarTooltip]="event.title"
                (click)="((null != event.task) ? RecurringTask(event.task) : RecurringTask(null, day))"
                >
                    {{ event.displayTitle }}
                </div>
            </div>
        </ng-template>
        <div [ngSwitch]="view">
            <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [events]="allEvents"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventTimesChanged)="eventTimesChanged($event)"
            [cellTemplate]="customCellTemplate"> </mwl-calendar-month-view>
            <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [events]="allEvents"> </mwl-calendar-week-view>
            <mwl-calendar-day-view
            *ngSwitchCase="'day'"
            (beforeViewRender)="updateCalendarEvents($event)"
            [viewDate]="viewDate"
            [events]="allEvents"> </mwl-calendar-day-view>
        </div>
    </div>
</div>