/* Avoid unexpected behavior of Materialize `.modal` class */
main-calendar {
    mwl-calendar-open-day-events, .ng-tns-c7-1 {
        line-height: 2 !important;
    }
    .g-modal-man {
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .cal-month-view {
      .cal-header {
        text-align: center;
        font-weight: bolder;
      }

      .cal-cell-row:hover {
        background-color: #fafafa;
      }

      .cal-header .cal-cell {
        padding: 5px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
      }

      .cal-cell-row .cal-cell:hover,
      .cal-cell.cal-has-events.cal-open {
        background-color: #ededed;
      }

      .cal-days {
        border: 1px solid #e1e1e1;
        border-bottom: 0;
      }

      .cal-cell-top {
        min-height: 62px;
        flex: 1;
      }

      .cal-cell-row {
        display: flex;
      }

      .cal-cell {
        float: left;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
      }

      .cal-day-cell {
        min-height: 100px;
      }

      @media (max-width: 787px) {
        .cal-day-cell {
          min-height: 100px;
          overflow: hidden;
        }
      }

      .cal-day-cell:not(:last-child) {
        border-right: 1px solid #e1e1e1;
      }

      .cal-days .cal-cell-row {
        border-bottom: 1px solid #e1e1e1;
      }

      .cal-day-badge {
        margin-top: 18px;
        margin-left: 10px;
        background-color: #b94a48;
        display: inline-block;
        min-width: 10px;
        padding: 3px 7px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        color: white;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border-radius: 10px;
      }

      .cal-day-number {
        font-size: 1.2em;
        font-weight: 400;
        opacity: 0.5;
        margin-top: 15px;
        margin-right: 15px;
        float: right;
        margin-bottom: 10px;
      }

      .cal-events {
        flex: 1;
        align-items: flex-end;
        margin: 3px;
        line-height: 10px;
        display: grid;
        flex-wrap: wrap;
      }

      .cal-event {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        margin: 2px;
      }

      .cal-alt-event {
        width: 100%;
        height: 24px;
        display: inline-block;
        margin: 2px;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 5px;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        white-space: nowrap;
      }

      .cal-day-cell.cal-in-month.cal-has-events {
        cursor: pointer;
      }

      .cal-day-cell.cal-out-month .cal-day-number {
        opacity: 0.1;
        cursor: default;
      }

      .cal-day-cell.cal-weekend .cal-day-number {
        color: darkred;
      }

      .cal-day-cell.cal-today {
        background-color: #e8fde7;
      }

      .cal-day-cell.cal-today .cal-day-number {
        font-size: 1.9em;
      }

      .cal-day-cell.cal-drag-over {
        background-color: darken(#ededed, 5%) !important;
      }

      .cal-open-day-events {
        padding: 15px;
        color: white;
        background-color: #555;
        box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.5);
      }

      .cal-open-day-events .cal-event {
        position: relative;
        top: 2px;
      }

      .cal-event-title {
        color: white;
      }
      .cal-event-title:a {
        color: #fff;
      }

      .cal-out-month {
        .cal-day-badge,
        .cal-event {
          opacity: 0.3;
        }
      }
    }
    .cal-tooltip {
      position: absolute;
      z-index: 1070;
      display: block;
      font-style: normal;
      font-weight: normal;
      letter-spacing: normal;
      line-break: auto;
      line-height: 1.5;
      text-align: start;
      text-decoration: none;
      text-shadow: none;
      text-transform: none;
      white-space: normal;
      word-break: normal;
      word-spacing: normal;
      font-size: 11px;
      word-wrap: break-word;
      opacity: 0.9;
    }

    .cal-tooltip.cal-tooltip-top {
      padding: 5px 0;
      margin-top: -3px;
    }

    .cal-tooltip.cal-tooltip-top .cal-tooltip-arrow {
      bottom: 0;
      left: 50%;
      margin-left: -5px;
      border-width: 5px 5px 0;
      border-top-color: #000;
    }

    .cal-tooltip.cal-tooltip-right {
      padding: 0 5px;
      margin-left: 3px;
    }

    .cal-tooltip.cal-tooltip-right .cal-tooltip-arrow {
      top: 50%;
      left: 0;
      margin-top: -5px;
      border-width: 5px 5px 5px 0;
      border-right-color: #000;
    }

    .cal-tooltip.cal-tooltip-bottom {
      padding: 5px 0;
      margin-top: 3px;
    }

    .cal-tooltip.cal-tooltip-bottom .cal-tooltip-arrow {
      top: 0;
      left: 50%;
      margin-left: -5px;
      border-width: 0 5px 5px;
      border-bottom-color: #000;
    }

    .cal-tooltip.cal-tooltip-left {
      padding: 0 5px;
      margin-left: -3px;
    }

    .cal-tooltip.cal-tooltip-left .cal-tooltip-arrow {
      top: 50%;
      right: 0;
      margin-top: -5px;
      border-width: 5px 0 5px 5px;
      border-left-color: #000;
    }

    .cal-tooltip-inner {
      max-width: 200px;
      padding: 3px 8px;
      color: #fff;
      text-align: center;
      background-color: #000;
      border-radius: 0.25rem;
    }

    .cal-tooltip-arrow {
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }

    .cal-week-view {
      .cal-day-headers {
        display: flex;
        margin-bottom: 3px;
        border: 1px solid #e1e1e1;
        margin-left: 2px;
        margin-right: 2px;
      }

      .cal-day-headers .cal-header {
        flex: 1;
        text-align: center;
        padding: 5px;
      }

      .cal-day-headers .cal-header:not(:last-child) {
        border-right: 1px solid #e1e1e1;
      }

      .cal-day-headers .cal-header:hover,
      .cal-day-headers .cal-drag-over {
        background-color: #ededed;
      }

      .cal-day-headers span {
        font-weight: 400;
        opacity: 0.5;
      }

      .cal-events-row {
        position: relative;
        height: 33px;
      }

      .cal-event-container {
        display: inline-block;
        position: absolute;
      }

      .cal-event {
        padding: 0 10px;
        font-size: 12px;
        margin-left: 2px;
        margin-right: 2px;
        height: 30px;
        line-height: 30px;
      }

      .cal-draggable {
        cursor: move;
      }

      .cal-starts-within-week .cal-event {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      .cal-ends-within-week .cal-event {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      .cal-header.cal-today {
        background-color: #e8fde7;
      }

      .cal-header.cal-weekend span {
        color: #8b0000;
      }

      .cal-event,
      .cal-header {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .cal-day-view {
      .cal-hour-rows {
        width: 100%;
        border: solid 1px #e1e1e1;
        overflow-x: scroll;
        position: relative;
      }

      .cal-hour:nth-child(odd) {
        background-color: #fafafa;
      }

      /* stylelint-disable-next-line selector-type-no-unknown */
      mwl-calendar-day-view-hour-segment {
        // hacky fix for https://github.com/mattlewis92/angular-calendar/issues/358 and hammerjs breaking scrolling
        touch-action: initial !important;
        user-select: initial !important;
        -webkit-user-drag: initial !important;
      }

      /* stylelint-disable-next-line selector-type-no-unknown */
      mwl-calendar-day-view-hour-segment, // fix for https://github.com/mattlewis92/angular-calendar/issues/260
      .cal-hour-segment {
        display: block;
      }

      .cal-hour-segment::after {
        content: '\00a0';
      }

      .cal-hour:not(:last-child) .cal-hour-segment,
      .cal-hour:last-child :not(:last-child) .cal-hour-segment {
        border-bottom: thin dashed #e1e1e1;
      }

      .cal-time {
        font-weight: bold;
        padding-top: 5px;
        width: 70px;
        text-align: center;
      }

      .cal-hour-segment.cal-after-hour-start {
        .cal-time {
          display: none;
        }
      }

      .cal-hour-segment:hover,
      .cal-drag-over .cal-hour-segment {
        background-color: #ededed;
      }

      .cal-event-container {
        position: absolute;
      }

      .cal-event {
        border: solid 1px;
        padding: 5px;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 100%;
        box-sizing: border-box;
      }

      .cal-draggable {
        cursor: move;
      }

      .cal-starts-within-day .cal-event {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .cal-ends-within-day .cal-event {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      .cal-all-day-event {
        padding: 8px;
        border: solid 1px;
      }
    }

    .nsm-content {
        margin: 0px !important;
        padding: 0px !important;
        height: 100%;
    }
    .nsm-dialog {
        margin: 10% auto !important;
        max-width: 700px !important;
        width: 700px !important;
    }
    .modals {
        display: block;
        max-height: none;

        .modals-content {
            padding: 0;

            .card {
                margin: 0;
            }
        }

        .modals-footer {
            width: auto;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
    .checkbox {
        height: auto !important;
    }
    .checkbox i {
        color: #1DC7EA !important;
    }

    .no-padding {
        padding: 0 !important;
    }

    .go-back {
        margin-top: 10px;

        a {
            color: white;
        }
    }
    .checkbox input[type="checkbox"]:disabled + label,
    .radio input[type="radio"]:disabled + label,
    .checkbox input[type="checkbox"]:disabled:checked + label::after {
        color: #1dc7ea;
    }

    .table-responsive {
        border: none !important;
    }

    .table-full-width {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .cal-alt-event {
        height: auto !important;
        word-wrap: break-word !important;
        white-space: normal !important;
    }
    .cal-events {
        line-height: 20px !important;
    }
    @media (max-width: 787px) {
        .calendar-header {
            flex-direction: column !important;
        }
    }
}