<!-- This file is subject to the terms and conditions defined in file
'LICENSE.text', which can be found at the root of this project. -->
<ion-header>
    <ion-navbar class="default-nav" align-title="center">
        <ion-title class="ion-text-center">
            <img src="assets/img/logo-title.png" style="max-width: 83px;" />
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <div *ngIf="(null != (user$ | async))" class="header-overlay" style="background: #4a5068;border-bottom: 1px solid;display: inline-grid;text-align: center;">
            <letter-avatar style="font-size: 30px; top: 25px;" *ngIf="null != (user$ | async)" [text]="GetName((user$ | async))" [size]="90">
            </letter-avatar><br>
            <p *ngIf="null != (user$ | async)" style="text-align: center;position: static;top: 1px;">{{ (user$ | async).firstName }} {{ (user$ | async).lastName }}</p>
        </div>
        <ion-item *ngIf="!IsTenant && !IsLandLord && (null != (user$ | async))" style="margin-top: 1%; justify-items: center;text-align: center;" class="full-width">
            <ion-icon name="person" item-left></ion-icon>
            <ion-label text-wrap>Position: {{ (user$ | async).role }}</ion-label>
        </ion-item>
        <ion-item *ngIf="IsTenant && (null != (user$ | async))" style="margin-top: 1%; justify-items: center;text-align: center;" class="full-width">
            <ion-icon name="home" item-left></ion-icon>
            <ion-label text-wrap>Building: {{ GetBuilding((user$ | async).orgs) }}</ion-label>
        </ion-item>
        <ion-item (click)="Logout()" style="margin-top: 1%; justify-items: center;text-align: center;" class="full-width">
            <ion-icon name="exit" item-left></ion-icon>
            <ion-label text-wrap>Logout</ion-label>
        </ion-item>
    </ion-list>
    <loading-component [ShowLoading]="(loading$ | async)"></loading-component>
</ion-content>