page-settings {
    font-family: "Mukta-Regular",sans-serif!important;
    ion-navbar {
        .bar-button {
            color: #eaeaea !important;
            background-color: #424242 !important;
            width: 45px;
            height: 45px;
        }
    }
    ion-slide {
        overflow-y: scroll !important;
        display: block !important;
    }
    .segment-ios .segment-button {
        border-color: #666 !important;
        color: #666;
        background-color: #b4b4b4;
    }
    .segment-ios .segment-button.segment-activated {
        border-color: #666 !important;
        color: #666;
        background-color: #eaeaea !important;
    }
    .segment-md .segment-button.segment-activated, .segment-ios .segment-button.segment-activated {
        border-color: #666 !important;
        color: #666;
        background-color: #eaeaea !important;
    }

    .tenant-update {
        background-color: #e86d6d !important;
        font-weight: bold;
        color: #fff;
    }
    ion-row {
        background-color: transparent !important;
        color: #fff !important;
    }
    .item-md, .item-ios {
        background-color: transparent !important;
        color: #fff !important;
    }
    ion-col {
        display: block;
        .building {
            background: transparent !important;
        }
    }
    ion-label {
        display: flex !important;
    }
    ion-content {
        background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
        background-size: cover;
    }
    background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
    background-size: cover;
    .spinner-boundaries {
        padding: 10px 0;
        width: 30px;
        margin: 0 auto;
    }
    .scroll-content {
        .header-overlay {
            width: 100%;
            height: 200px;
            left: 0;
            /* top: 44px; */
            background: rgba(0,0,0,.3);
            z-index: 999;
            text-align: center;
            font-family: "Mukta-Regular",sans-serif!important;
            font-weight: 400;
            color: #fff;
            font-size: 24px;
            justify-content: center;
            align-content: center;
            align-items: center;
            justify-items: center;
            letter-avatar {
                div {
                    background-color: rgb(73, 107, 100);
                    width: 90px !important;
                    line-height: 90px;
                    height: 90px;
                    font-size: 30px;
                    border: 1px solid rgb(211, 211, 211);
                    border-top-left-radius: 50%;
                    border-top-right-radius: 50%;
                    border-bottom-right-radius: 50%;
                    border-bottom-left-radius: 50%;
                }
            }
        }
        .divider-header {
            font-size: large;
            align-content: center;
            font-family: "Mukta-Regular",sans-serif!important;
            font-weight: 400;
            font-weight: bold;
            color: #5a738e;
            background-color:#e7e7e7;
            padding-top: 1%;
            padding-bottom: 1%;
            width: 100%;
        }
        background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
        background-size: cover;
        .img-header {
            font-family: "Mukta-Regular",sans-serif!important;
            height: 200px;
            font-weight: 400;
            text-align: center;
            color: #fff;
            font-size: 24px;
            padding: 7%;
            background: #646464;
            border-bottom: 2px solid aliceblue;
        }
        background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
        background-size: cover;
        @include breakpoint("iPhoneX") {
            margin-bottom: 90px !important;
        }

        @include breakpoint("iPhoneXSMax") {
            margin-bottom: 90px !important;
        }
        @include breakpoint("iPhoneXR") {
            margin-bottom: 90px !important;
        }
    }
    
}

@media only screen and (min-width: 900px) {
    #postContainer {
        border-right: 1px solid gray;
    }
    .services .rectanglecopy {
        display: flex;
    }

    .services .rectanglecopy .rectangle3 {
        width: 32%;
    }
}
