<!-- This file is subject to the terms and conditions defined in file
'LICENSE.text', which can be found at the root of this project. -->

<ion-content class="splash" id="loadingScreen">
    <div style="width: 100%; height: 100%;" align="center">
        <div class="rectangle" style="background-image: url('assets/img/layout/login-bg.png');background-size: cover;background-position: center;"></div>
        <div class="rectangle1"></div>
        <div class="group3" align="center">
        </div>
        <div class="spinner"></div>
    </div>
</ion-content>