page-entry {
    ion-content {
        background: #f7f7f7;
        background-size: cover;
    }
    .splash {
        width: 100%;
        min-width: 375px;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin: 0px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: linear-gradient(45deg, #fff 36%, #ccc 100%);

        background-size: cover;
        // background-color: rgba(255, 255, 255, 1);
        .spinner-boundaries {
            width: 100%; height: 100%;
            align-items: center;
            justify-content: center;
            align-content: center;
            font-size: 70px;
            font-weight: bolder;
            margin-top: 30%;
        }
    }
    a {
        text-decoration: none;
    }
    div {
        -webkit-text-size-adjust: none;
    }
    .anima-full-width-a {
        width: 100%;
    }
    .anima-full-height-a {
        height: 100%;
    }
    div {
        -webkit-text-size-adjust: none;
    }
    .splash .rectangle {
        background-image: url('/assets/img/layout/login-bg.png');
        background-size: cover;
        background-blend-mode: soft-light;
        top: 0px;
        height: 100%;
        width: 100%;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .splash .rectangle1 {
        background-color: #53606b;
        top: 0px;
        height: 100%;
        width: 100%;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        opacity: 0.15;
    }
    .splash .group3 {
        background-color: rgba(255, 255, 255, 0);
        top: 80px;
        max-width: 100%;
        position: absolute;
        margin: 0;
        left: 5%;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .splash .group3 .rectangle2 {
        background-color: rgba(255, 255, 255, 0);
        top: 0px;
        height: 68px;
        width: 68px;
        position: absolute;
        margin: 0;
        left: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    .splash .group3 .silverbrick {
        background-color: rgba(255, 255, 255, 0);
        top: 17px;
        height: auto;
        width: auto;
        position: absolute;
        margin: 0;
        left: 75px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        font-family: "Helvetica", Helvetica, Arial, serif;
        font-size: 22px;
        color: rgba(255, 255, 255, 1);
        text-align: left;
        line-height: 26px;
    }
    .splash .group3 .fill4 {
        background-color: rgba(255, 255, 255, 0);
        top: 22px;
        max-width: 50%;
        margin: 0;
        left: 15px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    /* .anima-animate-appear prefix for appear animations */
    .anima-animate-appear {
        opacity: 0;
        display: block;
        -webkit-animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
        -moz-animation: anima-reveal 0.3s ease-in 1 normal forwards;
        -o-animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
        animation: anima-reveal 0.3s ease-in-out 1 normal forwards;
    }
    .anima-animate-disappear {
        opacity: 1;
        display: block;
        -webkit-animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
        -moz-animation: anima-reveal 0.3s ease-in 1 normal forwards;
        -o-animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
        animation: anima-reveal 0.3s ease-in-out 1 reverse forwards;
    }
    .anima-animate-nodelay {
        -webkit-animation-delay: 0;
        -moz-animation-delay: 0;
        -o-animation-delay: 0;
        animation-delay: 0;
    }
    @-webkit-keyframes anima-reveal {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    @-moz-keyframes anima-reveal {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    @-o-keyframes anima-reveal {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    @keyframes anima-reveal {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    #loadingScreen {
        width: 100%;
    }

    #loadingScreen {
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        text-align: center;
        line-height: 10;
        font-weight: 400;
        font-family: arial, sans-serif;
    }

    #loadingScreen .spinner {
        content: "";
        position: absolute;
        height: 6px;
        background: #fff;
        top: 0;
        left: 0;
        width: 100%;
        animation: 1.2s loading infinite;
    }

    @keyframes loading {
        50% {
            transform: scalex(100vw);
        }
        51% {
            transform: translatex(-100vw);
        }
    }
}