// Shades
$grey-light: #a0a0a0;
$grey: #bfbfbf;
$grey-dark: #404040;
$black: #000;
$white: #fff;

// Tags
$silverbrick: #f2f6fc;
$dark: #2A314C;
$green: #70ad47;
$blue: #4472c4;
$navhigh: #0c1224;
// Tags
.default-nav {
    text-align: center;
    font-size: 17px !important;
    font-family: "Mukta-Bold", sans-serif !important;
    .toolbar-background-ios, .toolbar-background-md, .toolbar-background {
        background: #eaeaea;
    }
}
// .default-nav {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   position: relative;
//   .toolbar-background-ios {
//     background: #fff;
//   }
//   ion-title {
//     position: absolute;
//     left: 0;
//     top: 0;
//     height: 100%;
//     width: 100%;
//     text-align: center;
//   }
//   button {
//     .profilePic {
//       width: 30px;
//       height: 30px;
//       border-radius: 15px;
//     }
//   }
//   .newPost {
//     height: 24px;
//   }
// }

.g-button-row-toolbar {
    padding: 0px !important;
    height: 54px;
    .toolbar-background {
        border: 0px !important;
    }
    .toolbar-content {
        height: 100% !important;
    }
    ion-row {
        height: 100% !important;
    }

    ion-col {
        padding: 0px !important;
        height: 100% !important;
    }

    button {
        margin: 0px !important;
        height: 100% !important;
    }

    .active {
        background-color: #f2f6fc !important;
        color: $dark !important;
    }

    .dark {
        background-color: #2A314C !important;
        color: #FFF !important;
    }
}

button {
    &.activated {
        opacity: 0.7;
    }
    &.iButton {
        width: 45%;
        margin: 0 auto;
        background: #fff;
        color: #000;
        font-size: 20px;
        padding: 0 16px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: auto;
    }
}

.center-everything {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clear-button {
    button {
        background: rgba(255, 255, 255, 0);
        color: black;
    }
}

// Mixins
@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin border-bottom-radius($e) {
    border-bottom-left-radius: $e;
    border-bottom-right-radius: $e;
}

@mixin transition($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}

@mixin box-shadow($e) {
    -webkit-box-shadow: $e;
    -moz-box-shadow: $e;
    box-shadow: $e;
}

@mixin breakpoint($class) {
    @if $class==small-phone-portrait {
        @media only screen and (max-width: 374px) and (min-width: 320px) {
            @content;
        }
    } @else if $class==phone-portrait {
        @media only screen and (max-width: 479px) and (min-width: 375px) {
            @content;
        }
    } @else if $class==phone-landscape {
        @media only screen and (min-width: 480px) and (max-width: 767px) {
            @content;
        }
    } @else if $class==tablet {
        @media only screen and (min-width: 768px) and (max-width: 959px) {
            @content;
        }
    } @else if $class==iPhoneX {
        @media screen and (max-device-width: 375px) and (min-device-height: 800px) {
            @content;
        }
    } @else if $class==iPhoneXSMax {
        @media only screen and (device-width: 414px) and (device-height: 896px) {
            @content;
        }
    } @else if $class==iPhoneXR or $class==iPhone11 {
        @media only screen and (device-width: 414px) and (device-height: 896px) {
            @content;
        }
    }  @else if $class==iPhone13 or $class==iPhone13Pro or $class==iPhone12 {
        @media only screen and (device-width: 390px) and (device-height: 844px) {
            
        }

    }  @else if $class==iPhone13ProMax or $class==iPhone12ProMax {
        @media only screen and (device-width: 390px) and (device-height: 844px) {
            
        }

    } @else {
        @warn "Breakpoint mixin supports: phone-portrait, phone-landscape, tablet, iPhoneX";
    }
}
@-webkit-keyframes anima-reveal {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    @-moz-keyframes anima-reveal {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    @-o-keyframes anima-reveal {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    @keyframes anima-reveal {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }



    @keyframes loading {
        50% {
            transform: scalex(100vw);
        }
        51% {
            transform: translatex(-100vw);
        }
    }
