// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-tabs {
    background-size: cover;
    background-position: top center;
    background-color: #eaeaea;
    &.tabs-ios {
        background-size: cover;
        background-position: top center;
        background-color: #eaeaea;
        .tabbar {
            // white tabs
            background-size: cover;
            background-position: top center;
            background-color: #eaeaea;
            height: 90px;
            @include breakpoint("iPhoneX") {
                padding-bottom: 0 !important;
                // margin-bottom: env(safe-area-inset-bottom);
            }

            @include breakpoint("iPhone11") {
                padding-bottom: 0 !important;
                // margin-bottom: env(safe-area-inset-bottom);
            }

            @include breakpoint("iPhoneXSMax") {
                padding-bottom: 0 !important;
                // margin-bottom: env(safe-area-inset-bottom);
            }
        }
    }
}
.welcome-screen {
    background: #fff;
    color: linear-gradient(90deg, #1fc3e9 36%, #8e7eeb 100%);
    font-family: "Helvetica", Helvetica, Arial, serif;
    .welcome {
        margin-top: 25%;
        font-size: 45px;
    }
    .name {
        margin-top: 35%;
        font-size: 70px;
    }
    text-align: center;
    z-index: 9999;
    width: 100% !important;
    height: 100% !important;
}
.toolbar-background {
    background: #fff;
}
// .tabs-md .tab-button-icon, .tabs-ios .tab-button-icon {

// }

.tabs-md .tab-button[aria-selected="true"] .tab-button-icon,
.tabs-ios .tab-button[aria-selected="true"] .tab-button-icon {
    color: #5a738e;
}
ion-icon {
    &.tab-button-icon {
        overflow: visible !important;
        max-height: 28px;
        min-width: auto !important;
        margin-bottom: 5px;
    }
    &[class*="custom-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    } // custom icons
    &[class*="custom-icon1"] {
        mask-image: url(../assets/icon/tabs/building.svg);
    }
    &[class*="custom-icon2"] {
        mask-image: url(../assets/icon/tabs/tasks.svg);
    }
    &[class*="custom-icon3"] {
        mask-image: url(../assets/icon/tabs/chat.svg);
    }
    &[class*="custom-icon4"] {
        mask-image: url(../assets/icon/tabs/settings.svg);
    }
}

ion-header {
    @include box-shadow(0px 5px 18px -4px rgba(160, 160, 160, 0.5));
}

@font-face {
    font-family: 'Mukta-Light';
    font-weight: 100;
    src: url('../assets/fonts/Mukta-Light.ttf') format('truetype'),
    url('../assets/fonts/Mukta-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Mukta-Regular';
    font-weight: 300;
    src: url('../assets/fonts/Mukta-Regular.ttf') format('truetype'),
    url('../assets/fonts/Mukta-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mukta-Bold';
    font-weight: 600;
    src: url('../assets/fonts/Mukta-Bold.ttf') format('truetype'),
    url('../assets/fonts/Mukta-Bold.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap');