<!-- This file is subject to the terms and conditions defined in file
'LICENSE.text', which can be found at the root of this project. -->

<ion-infinite-scroll (ionInfinite)="LoadMoreMessages($event)" [enabled]="HasMoreMessages" position="top">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
<ion-list>
    <ion-item *ngFor="let message of (Messages$ | async)" class="chat-message animated fadeInDownBig">
        <div class="avatar-container">
            <letter-avatar [text]="message.authour" [size]="46" style="width: 70px; height: 70px;"></letter-avatar>
        </div>
        <div class="message-container">
            <h2>{{ message?.authour }} <span style="font-size: 85%; font-style: italic; position: relative; left: 2px; color: #fff">({{ message?.role }})</span><span>{{ (message?.date | date:'short') || "Time Error" }}</span></h2>
            <p *ngIf="(message.type === 'text')" id="message-text">{{ message.text }}</p>
            <img *ngIf="(message?.type === 'photo')" (click)="OpenFullImage(message?.text)" src="{{ message?.text }}" />
        </div>
    </ion-item>
</ion-list>

