message-control {
    ion-item {
        background: transparent;
    }
    .chat-message {
        background: transparent;
        display: flex;
        text-overflow: clip !important;
        white-space: normal !important;
        &.item-block .item-inner,
        &.item-block:last-child {
            border: none;
        }
        .avatar-container {
            img {
                position: absolute;
                top: 16px;
                left: 16px;
                width: 40px;
                height: 40px;
                border-radius: 19px;
            }
        }
        .message-container {
            margin: 0 0 0 23px;
            h2,
            h1,
            p {
                font-size: 14px;
                font-weight: bold;
                color: #fff;
            }
            h2 span,
            h1 span,
            p span {
                font-weight: normal;
                color: #ccc;
                right: 10px;
                position: absolute;
                font-size: 12px;
            }
            p {
                font-weight: normal;
                text-overflow: clip !important;
                white-space: pre-line !important;
            }
            img {
                max-width: 100%;
                max-height: 100px;
                margin-top: 5px;
            }
        }
        &:last-child {
            margin-bottom: 20px;
        }
    }
}
