<div class="drawer-container">
  <button class="profile-header" menuClose (click)="NavigateToCurrentUserProfile()">
    <div class="avatar">
    </div>

    <h1>{{ ((null != (profile$ | async)) && (null != (profile$ | async).firstName) ? ((profile$ | async).firstName + ' ' + (profile$ | async).lastName) : 'Your Profile') }}</h1>
  </button>

  <div class="navigation">
    <ng-container *ngFor="let p of pages">
      <button ion-item menuClose (click)="OpenPage(p)" class="menu-item" ng-class="{'active-page-highlight' : IsActive(p)}">
        <img src="{{ p.icon }}" class="pageImg"> {{p.title}}
      </button>
    </ng-container>

  </div>

  <div class="account-settings">
    <button (click)="LogOut()">Log Out</button>
    <button (click)="GoToSettings()" menuClose>Settings and Privacy
    <!-- Stripe Connect Icon --></button>
    <button (click)="GoToFeedback()" menuClose>Submit Feedback</button>
  </div>
</div>
