.menu-inner {
  overflow: hidden;
  .scroll-content {
    overflow: hidden;
    .drawer-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      @include breakpoint("iPhoneX") {
        height: 95%;
      }
      @include breakpoint("iPhoneXSMax") {
        height: 95%;
      }
      .profile-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid gray;
        height: 70px;
        padding-left: 20px;
        background-color: $white;
        &.activated {
          background-color: #CCCCCC;
        }
        .avatar {
          width: 45px;
          height: 45px;
          img {
            border-radius: 22.5px;
            min-height: 100%;
          }
        }
        h1 {
          margin: 0;
          padding-left: 10px;
        }
      }
      .navigation {
        display: flex;
        flex-direction: column;
        flex: 1;
        .menu-item {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex: 1;
          .item-inner {
            border: none;
            background-image: none !important;
            margin: 10px 0;
            ion-label {
              height: 35px;
              margin: 5px 8px 11px 0;
              img {
                width: 25px;
                position: relative;
                top: 5px;
                margin-right: 15px;
              }
            }
          }
        }
        .follow-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          flex: 1;
          button {
            flex: 1;
            font-size: 1.1em;
            padding: 0;
            background-color: $white;
            color: $black;
            &.following {
              padding-left: 15px;
              justify-content: flex-start;
              .button-inner {
                justify-content: flex-start
              }
            }
            &.activated {
              background-color: lightgray;
            }
          }
        }
      }
      .account-settings {
        display: flex;
        flex: 0.4;
        flex-direction: column;
        justify-content: flex-start;
        border-top: 1px solid gray;
        button {
          padding-top: 5%;
          padding-bottom: 5%;
          margin-top: auto;
          display: flex;
          flex-direction: row;
          justify-content: start;
          flex: 1;
          font-size: 1.1em;
          background-color: $white;
          padding-left: 15px;
          align-items: center;
          .missingPayouts {
            width: 10px !important;
            height: 10px !important;
            background: red;
            border-radius: 5px;
          }
          &.activated {
            background-color: lightgray;
          }
        }
      }
    }
  }
}
