page-messages {
    ion-navbar {
        ion-title {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            text-align: center;
        }
        .newMessage {
            height: 24px;
        }
        .bar-button {
            color: #eaeaea !important;
            background-color: #424242 !important;
            width: 45px;
            height: 45px;
        }
    }
    .scroll-content {
        background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
        padding: 16px;
        padding-top: 0 !important;
        .rectangle1 {
            background-color: transparent;
            top: 0px;
            height: 100%;
            width: 100%;
            position: absolute;
            margin: 0;
            left: 0px;
            -ms-transform: rotate(0deg); /* IE 9 */
            -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
            transform: rotate(0deg);
            opacity: 1;
        }
        @include breakpoint("iPhoneX") {
            margin-bottom: 90px !important;
        }

        @include breakpoint("iPhoneXSMax") {
            margin-bottom: 90px !important;
        }
        @include breakpoint("iPhoneXR") {
            margin-bottom: 90px !important;
        }
        #messageContainer {
            display: flex;
            flex-direction: column;
            padding: 5px;
            .messageHeader {
                font-family: "Mukta-Regular", sans-serif !important;
                color: #fff;
                display: flex;
                align-items: center;
                hr {
                    flex: 1;
                    margin-left: 10px;
                    height: 1px !important;
                }
            }
            .messageContent {
                display: flex;
                font-family: "Mukta-Regular", sans-serif !important;
                color: #fff;
                align-items: center;
                margin-left: 5px;
                margin-right: 5px;
                .profilePicContainer {
                    width: 38px;
                    margin-right: 10px;
                    .avatar {
                        width: 40px;
                        height: 40px;
                        border: 2px solid #eaeaea;
                        border-radius: 19px;
                    }
                }
                .userDateContainer {
                    flex: 1;
                    margin-bottom: 5px;
                    .username {
                        font-family: "Mukta-Regular", sans-serif !important;
                        color: #fff;
                        font-weight: bold;
                    }
                }
            }
        }

        .empty-posts {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 20%;
            z-index: 999;
            font-family: "Mukta-Regular", sans-serif !important;
            font-size: 18px;
            justify-content: center;
            text-align: center;
            width: 100%;
            font-weight: 500;
            color: #fff;
            img {
                width: 28px;
                margin-bottom: 15px;
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    #messageContainer {
        border-right: 1px solid rgba(200, 200, 200, 0.5);
    }
}

