<ion-header>
    <ion-navbar class="default-nav" align-title="center">
        <!-- <ion-title>Messages</ion-title> -->
        <ion-title class="ion-text-center">
          <img src="assets/img/logo-title.png" style="max-width: 83px;" />
          
        </ion-title>
        <ion-buttons end>
            <button ion-button (click)="NewMessage()">
                <ion-icon class="toolbar-right-button-icon-margin" name="chatboxes" item-left></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="rectangle1"></div>
    <ion-grid *ngIf="!(loading$ | async)">
        <ion-row align-items-stretch>
            <ng-container *ngFor="let rooms of (ChatRooms$ | async)">
                <ion-col (click)="OpenChat(rooms)" id="messageContainer" col-12 col-md-6 align-self-stretch align-self-center no-padding>
                    <div class="messageHeader">
                        <p>{{ (rooms.lastMessage.date | date:'short') || "Time Error" }}</p>
                        <hr />
                    </div>

                    <div class="messageContent">
                        <div class="profilePicContainer">
                            <letter-avatar [text]="rooms.lastMessage.authour" [size]="34"></letter-avatar>
                        </div>

                        <div class="userDateContainer">
                            <div class="username">
                                {{ rooms.lastMessage.authour }}
                                <!-- <span *ngIf="rooms.users.length > 1"> (+ {{ (rooms.users.length - 1) }})</span>  -->
                            </div>
                            <div class="messagePreview" *ngIf="IsLink(rooms.lastMessage.text)">{{ rooms.lastMessage.authour }} shared a link.</div>
                            <div class="messagePreview" *ngIf="!IsLink(rooms.lastMessage.text)">{{ rooms.lastMessage.text || 'Open chat room' }}</div>
                        </div>
                    </div>
                </ion-col>
            </ng-container>
            <div *ngIf="(ChatRooms$ | async).length === 0" class="empty-posts">
                <p>No Messages...Yet</p>
                <p>Tap<br><br>
                <button ion-button (click)="NewMessage()" style="background-color: #eaeaea;color: #424242;">
                    <ion-icon name="chatboxes" item-left></ion-icon>
                </button>
                <br><br> to start a chat</p>
            </div>
        </ion-row>
    </ion-grid>
    <loading-component [ShowLoading]="(loading$ | async)"></loading-component>
</ion-content>