<!-- This file is subject to the terms and conditions defined in file
'LICENSE.text', which can be found at the root of this project. -->
<ion-header class="pretty-header">
    <ion-navbar class="default-nav" align-title="center">
        <ion-buttons *ngIf="IsAdmin || IsStaff" style="display: inline-flex;align-content: center;justify-content: left;max-width: 40%;" left>
            <button (click)="GoToToday()" ion-button>
                Today
            </button>
            <button style="margin-left: 8px;" [ngStyle]="{'background-color': ShowingRoute ? '#ccc' : '#424242', 'color': ShowingRoute ? '#666' : '#fff' }" (click)="ShowingRoute = !ShowingRoute" ion-button>
                Route
            </button>
        <!--     <button (click)="GoToToday()" ion-button>
                {{ GetMode((TravelMode$ | async)) }}
            </button> -->
            <!-- <div id="modeCont">
                <label id="travelMode">Travel Mode</label>
                <ion-select id="travelSel" interface="action-sheet" (ionChange)="ChangeMode($event)" [(ngModel)]="TravelMode">
                    <ion-option value="Bike" selected>Bike</ion-option>
                    <ion-option value="Car">Car</ion-option>
                    <ion-option value="Walking">Walking</ion-option>
                </ion-select>
            </div> -->
        </ion-buttons>
        <ion-title class="ion-text-center" style="text-align: left;">
            <img src="assets/img/logo-title.png" style="max-width: 83px" />
        </ion-title>
        <ion-buttons end>
            <span *ngIf="(null != (selectedStaff$ | async)) && !(loading$ | async)" style="float: left; margin-right: 6px; line-height: 20px; font-size: 13px">
                <span id="staffName">{{ (selectedStaff$ | async).firstName }} {{ (selectedStaff$ | async).lastName }}</span>
                <span *ngIf="(null != (selectedStaff$ | async).todayTaskCount) && !(loading$ | async) && ((selectedStaff$ | async).firstName !== 'All')"> ( {{ (selectedStaff$ | async).todayCompletedTaskCount }} / {{ (selectedStaff$ | async).todayTaskCount }} ) </span>
            </span>
            <span *ngIf="((null == (selectedStaff$ | async)) || ((null != (selectedStaff$ | async)) && ((selectedStaff$ | async).uid === 'all'))) && !(loading$ | async) && (null != (allEvents$ | async))" style="float: left; margin-right: 6px; line-height: 20px; font-size: 13px">
                All<br>
                <span> ( {{ (allEvents$ | async).length }} ) </span>
            </span>

            <button *ngIf="IsAdmin" [disabled]="(loading$ | async)" (click)="ScopeStaffTasks();(ShowingRoute = false)" ion-button>
                <ion-icon class="toolbar-right-button-icon-margin" name="options" item-left></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons *ngIf="!IsAdmin && !IsStaff" end>
            <button (click)="expandTask()" ion-button>
                <ion-icon class="toolbar-right-button-icon-margin" name="add" item-left></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ionic-conference-calendar-header class="calendar-header" *ngIf="!IsLandLord && !IsTenant" [view]="'days'" (change)="onDateChanged($event)" [date]="(activeDate$ | async)" [dates]="eventDates"> </ionic-conference-calendar-header>
    <ion-toolbar id="routeTool" class="animated fadeInDown" style="display: inline-flex;justify-content: space-around;align-content: center;margin-top: 100px" *ngIf="ShowingRoute">
        <div id="modeCont">
            <label id="travelMode">Travel Mode</label>
            <ion-select id="travelSel" interface="action-sheet" (ionChange)="ChangeMode($event)" [(ngModel)]="TravelMode">
                <ion-option value="Bike" selected>Bike</ion-option>
                <ion-option value="Car">Car</ion-option>
                <ion-option value="Walking">Walking</ion-option>
            </ion-select>
        </div>
        <ion-input id="pac-input" (input)="AutoComplete($event.target)" style="border: 1px solid #ccc" [(ngModel)]="startingAddress" mdInput placeholder="Starting Address" class="search-bar" type="text" name="text" [clearOnEdit]="true" [clearInput]="true" autofocus="true"></ion-input>
        <button (click)="ChangeLocation()" ion-button>
            Change
        </button>
    </ion-toolbar>
    <ng-container *ngIf="!(loading$ | async) && (!IsLandLord && !IsTenant)">
        <div class="timeline" style="min-width: 100% !important;" [ngStyle]="{'position': ShowingRoute ? 'inherit' : 'relative' }"  *ngIf="((allEvents$ | async).length > 0) && !IsListView">
            <ion-item class="timeline-item" *ngFor="let event of (allEvents$ | async)">
                <div (click)="expandTask(event.task)" class="activity-message" style="border-bottom: 1px solid #666">
                    <div class="timeline-time">
                        <!-- <span *ngIf="event.task.recurring && IsAdmin" style="width: 19%; background-color: #f4c304; color: #000; padding: 5px; border-radius: 50%; font-size: 12px; text-align: center">Recurring</span> -->
                        <!-- <span *ngIf="((null != event.completedToday) && (event.completedToday))" style="width: 19%; background-color: #40a440; color: #000; padding: 5px; border-radius: 50%; font-size: 12px; text-align: center">Completed</span> -->
                    </div>
                    <div class="message-container">
                        <span class="title" [ngClass]="((null != event.completedToday) && (event.completedToday)) ? 'completed-task' : ''">{{ event.title }}</span>
                        <br />&nbsp; <span [ngClass]="((null != event.completedToday) && (event.completedToday)) ? 'completed-task' : ''">{{ event.task.buildingName }} </span>
                        <br />&nbsp;
                        <div *ngIf="((null != event.task.photoGallery) && (event.task.photoGallery.length > 0))" style="width: 100%; display: flex;overflow-x: scroll;">
                            <img *ngFor="let photo of event.task.photoGallery" src="{{ photo }}" style="max-width: 120px; max-height: 120px; border-radius: 4%;margin-right: 20px;" />
                        </div>
                        <img *ngIf="((null != event.task.photoGallery) && (event.task.photoGallery.length === 0)) || (null == event.task.photoGallery)" src="assets/icon/new.png" style="max-width: 70px; border-radius: 25px" />
                        <!-- <br /> -->
                        <span class="taskDesc" [ngClass]="((null != event.completedToday) && (event.completedToday)) ? 'completed-task' : ''" *ngIf="(null != event.task.description) && (event.task.description !== '')">{{ event.task.description }}</span><br>
                        <span style="display: flex" *ngIf="(null != event.task.assignees) && IsAdmin">
                            <strong [ngClass]="((null != event.completedToday) && (event.completedToday)) ? 'completed-task' : ''">Assigned to:</strong><br />
                            <span *ngFor="let assignee of event.task.assignees" [ngClass]="((null != event.completedToday) && (event.completedToday)) ? 'completed-task' : ''"> {{ assignee.name }}<br /> </span>
                        </span>
                    </div>
                </div>

                <div *ngIf="(IsSocketConnected && ((null != event.completedToday) && (!event.completedToday)) || (null == event.completedToday))" class="activity-message">
                    <ion-col (click)="MarkRecurringComplete(event.task)" class="button-col" col-100> Mark Complete </ion-col>
                </div>
                <div *ngIf="((null != event.completedToday) && (event.completedToday)) && IsSocketConnected " class="activity-message">
                    <ion-col (click)="ReOpenRecurring(event.task)" class="button-col" col-100> Un-Mark Complete </ion-col>
                </div>
            </ion-item>
        </div>

        <div class="timeline" style="min-width: 100% !important;" [ngStyle]="{'position': ShowingRoute ? 'inherit' : 'relative' }"  *ngIf="((allEvents$ | async).length > 0) && IsListView">
            <ion-item class="timeline-item" *ngFor="let event of (allEvents$ | async)">
                <div (click)="expandTask(event.task)" class="activity-message" style="border-bottom: 1px solid #666">
                    <div class="timeline-time">
                        <!-- <span *ngIf="event.task.recurring && IsAdmin" style="width: 19%; background-color: #f4c304; color: #000; padding: 5px; border-radius: 50%; font-size: 12px; text-align: center">Recurring</span> -->
                        <!-- <span *ngIf="((null != event.completedToday) && (event.completedToday))" style="width: 19%; background-color: #40a440; color: #000; padding: 5px; border-radius: 50%; font-size: 12px; text-align: center">Completed</span> -->
                    </div>
                    <div class="message-container">
                        <span class="title" [ngClass]="((null != event.completedToday) && (event.completedToday)) ? 'completed-task' : ''">{{ event.title }}</span>
                        <br><span [ngClass]="((null != event.completedToday) && (event.completedToday)) ? 'completed-task' : ''">{{ event.task.buildingName }} </span>
                        <span style="display: flex" *ngIf="(null != event.task.assignees) && IsAdmin">
                            <strong [ngClass]="((null != event.completedToday) && (event.completedToday)) ? 'completed-task' : ''">Assigned to:</strong><br />
                            <span [ngClass]="((null != event.completedToday) && (event.completedToday)) ? 'completed-task' : ''" *ngFor="let assignee of event.task.assignees"> {{ assignee.name }}<br /> </span>
                        </span>
                        <span class="taskDesc" [ngClass]="((null != event.completedToday) && (event.completedToday)) ? 'completed-task' : ''" *ngIf="(null != event.task.description) && (event.task.description !== '')">{{ event.task.description }}</span><br>
                    </div>
                </div>

                <div *ngIf="(IsSocketConnected && ((null != event.completedToday) && (!event.completedToday)) || (null == event.completedToday))" class="activity-message">
                    <ion-col (click)="MarkRecurringComplete(event.task)" class="button-col" col-100> Mark Complete </ion-col>
                </div>
                <div *ngIf="((null != event.completedToday) && (event.completedToday)) && IsSocketConnected " class="activity-message">
                    <ion-col (click)="ReOpenRecurring(event.task)" class="button-col" col-100> Un-Mark Complete </ion-col>
                </div>
            </ion-item>
        </div>
        <div class="timeline" *ngIf="((allEvents$ | async).length === 0)">
            <ion-item class="empty-posts"> No scheduled tasks for this day </ion-item>
        </div>
    </ng-container>
    <ion-fab bottom left #fab>
        <button (click)="ScrollUp()" style="color: #fff;box-shadow: 0 4px 6px 0 rgba(255, 255, 255, 0.14), 0 4px 5px rgba(255, 255, 255, 0.1);" color="silverbrick3" ion-fab>
            <ion-icon style="color: #fff" name="arrow-round-up"> </ion-icon>
        </button>
        
    </ion-fab>
    <ion-fab bottom left #fab>
        <button *ngIf="IsListView" (click)="SwitchListView()" style="box-shadow: 0 4px 6px 0 rgba(255, 255, 255, 0.14), 0 4px 5px rgba(255, 255, 255, 0.1);" color="silverbrick2" ion-fab>
            <ion-icon style="color: #000" name="calendar"> </ion-icon>
        </button>
        <button *ngIf="!IsListView" (click)="SwitchListView()" style="box-shadow: 0 4px 6px 0 rgba(255, 255, 255, 0.14), 0 4px 5px rgba(255, 255, 255, 0.1);" color="silverbrick2" ion-fab>
            <ion-icon style="color: #00" name="list"> </ion-icon>
        </button>
        
    </ion-fab>
    <ion-fab *ngIf="IsAdmin" bottom right #fab>
        <button color="silverbrick2" ion-fab>
            <ion-icon name="add"> </ion-icon>
        </button>
        <ion-fab-list style="right: -29px" side="top">
            <ion-fab-button (click)="expandTask(null, fab)" color="silverbrick2" ion-fab>
                <ion-icon name="clipboard"></ion-icon>
            </ion-fab-button>
            <ion-label style="position: relative; right: 36%; top: 49px; background-color: #ccc; padding: 5px; border-radius: 5px; color: black; box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12)">Task</ion-label>
            <ion-fab-button (click)="newRecurringTask(fab)" color="lightgrey" ion-fab>
                <ion-icon name="refresh-circle"></ion-icon>
            </ion-fab-button>
            <ion-label (click)="newRecurringTask(fab)" style="position: relative; right: 64%; top: 49px; background-color: #ccc; padding: 5px; border-radius: 5px; color: black; box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12)">Recurring Task</ion-label>
        </ion-fab-list>
    </ion-fab>

    <ion-fab *ngIf="!IsAdmin && !IsStaff" bottom right #fab>
        <button (click)="expandTask(null)" color="silverbrick2" ion-fab>
            <ion-icon name="add"> </ion-icon>
        </button>
    </ion-fab>
    <loading-component [ShowLoading]="(loading$ | async) || IsLoading"></loading-component>
</ion-content>
