<ion-header>
    <ion-navbar class="default-nav" align-title="center">
        <ion-title>NOTIFICATIONS</ion-title>

        <ion-buttons>
            <button id="menuButton" ion-button menuToggle></button>
        </ion-buttons>
    </ion-navbar>

    <ion-segment no-padding [(ngModel)]="NotificationsToggle">
        <!-- <ion-segment-button value="all">
      All
    </ion-segment-button>
    <ion-segment-button value="mentions">
      Mentions
    </ion-segment-button> -->
    </ion-segment>
</ion-header>

<ion-content padding id="notifications">
    <div *ngIf="(loading$ | async)" class="spinner-boundaries" style="width: 100%; height: 100%; align-items: center; justify-content: center; align-content: center; font-size: 40px" align="center">
        <ion-spinner color="dark" name="bubbles"></ion-spinner>
    </div>
    <ion-slides *ngIf="!(loading$ | async)" [ngSwitch]="NotificationsToggle">
        <ion-slide *ngSwitchCase="'all'">
            <ion-grid>
                <ion-row align-items-stretch>
                    <ng-container *ngFor="let notification of (notifications$ | async)">
                        <ion-col id="notificationContainer" class="notificationContainer" col-12 col-md-6 align-self-stretch align-self-center no-padding>
                            <div class="notificationHeader">
                                <p>{{ (notification.date | date:'short') || "Time Error" }}</p>
                                <hr />
                                <div class="notificationIcon"><img src="{{ GetIcon(notification.type) }}" /></div>
                            </div>
                            <div class="notificationContent">
                                <div class="profilePicContainer" *ngIf="notification.avatar">
                                    <img src="{{ notification?.avatar }}" />
                                </div>
                                <div class="userDateContainer" *ngIf="((null != notification.trackingURL) && (notification.trackingURL !== ''))" (click)="OpenLink(notification.trackingURL)">{{ notification.message }}</div>
                                <div class="userDateContainer" *ngIf="(null == notification.trackingURL)">
                                    <div class="notificationPreview">{{ notification.message }}</div>
                                </div>
                            </div>
                        </ion-col>
                    </ng-container>
                    <div *ngIf="(notifications$ | async).length === 0" class="empty-posts">
                        <img src="assets/img/EmptyNotifications.png" class="empty-img" />
                        <p>No notifications yet</p>
                    </div>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide *ngSwitchCase="'mentions'">
            <div class="notificationContainer" *ngFor="let notification of (notifications$ | async)">
                <div class="notificationHeader">
                    <p>{{ (notification.date | date:'short') || "Time Error" }}</p>
                    <hr />
                    <div class="notificationIcon"><img src="{{ GetIcon(notification.type) }}" /></div>
                </div>

                <div class="notificationContent">
                    <div class="profilePicContainer">
                        <img src="https://images.genius.com/08b1e4f8c077d6173599db485c2d6dea.1000x1000x1.jpg" />
                    </div>

                    <div class="userDateContainer">
                        <div class="notificationPreview">{{ notification.message }}</div>
                    </div>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>
