page-notifications {
  ion-header {
    ion-segment {
      // height: 40px;
      ion-segment-button {
        border: none !important;
        font-size: 1em !important;
        font-weight: bold !important;
        border-radius: 0 !important;
        height: 100% !important;
        padding-top: 5px;
        &.segment-activated {
          color: #444 !important;
          background-color: $white !important;
          border-bottom: 3px solid black !important;
        }
      }
    }
  }
  .scroll-content {
    display: flex;
    flex-direction: column;
    @include breakpoint("iPhoneX") {
      margin-bottom: 83px;
    }

    @include breakpoint("iPhoneXSMax") {
      margin-bottom: 83px;
    }
    ion-slides {
      .swiper-container {
        overflow: auto;
      }
      ion-slide {
        align-items: flex-start;
        .notificationContainer {
          display: flex;
          flex-direction: column;
          padding: 5px;
          .notificationHeader {
            display: flex;
            align-items: center;
            font-size: 0.8em;
            .notificationIcon {
              width: 40px;
            }
            img {
              width: 20px;
            }
            hr {
              flex: 1;
              margin: 0 10px;
              height: 1px !important;
            }
          }
          .notificationContent {
            display: flex;
            align-items: center;
            margin: 0 5px;
            .profilePicContainer {
              width: 38px;
              img {
                width: 100%;
                height: 38px;
                border-radius: 19px;
              }
            }
            .userDateContainer {
              flex: 1;
            }
          }
        }

        .empty-posts {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding-top: 30%;

          img {
            width: 75%;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  #notificationContainer {
    border-right: 1px solid rgba(200, 200, 200, 0.4);
  }
}
