<!-- This file is subject to the terms and conditions defined in file
'LICENSE.text', which can be found at the root of this project. -->
<ion-header class="pretty-header">
    <ion-navbar class="default-nav" align-title="center">
        <ion-title class="ion-text-center">
            <img src="assets/img/logo-title.png" style="max-width: 83px" />
        </ion-title>
        <ion-buttons *ngIf="IsAdmin" end>
            <span *ngIf="(null != (selectedStaff$ | async))" style="float: left; margin-right: 6px; line-height: 20px; font-size: 13px">
                {{ (selectedStaff$ | async).firstName }} {{ (selectedStaff$ | async).lastName }}<br />
                <span *ngIf="(null != (selectedStaff$ | async).taskCount)"> ( {{ (selectedStaff$ | async).completedTaskCount }} / {{ (selectedStaff$ | async).taskCount }} )</span>
            </span>
            <button (click)="ScopeStaffTasks()" ion-button>
                <ion-icon class="toolbar-right-button-icon-margin" name="options" item-left></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons *ngIf="!IsAdmin && !IsStaff" end>
            <button (click)="expandTask()" ion-button>
                <ion-icon class="toolbar-right-button-icon-margin" name="add" item-left></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-toolbar style="display: flex" *ngIf="(TaskToggle === 'requests') || IsTenant || IsLandLord">
        <label style="padding: 13px 11px 14px 13%; border-right: 1px solid; width: 50%">
            Filter by Status:
        </label>
        <ion-select style="position: absolute; right: 0; width: 50%; text-align: center" interface="action-sheet" (ionChange)="ChangeScope($event)" [(ngModel)]="TasksScope">
            <ion-option value="All">All</ion-option>
            <ion-option value="Completed">Completed</ion-option>
        </ion-select>
    </ion-toolbar>
    <ng-container *ngIf="((null != (tasks$ | async)) && ((tasks$ | async).length === 0) || (null == (tasks$ | async))) && IsStaff">
        <div align="center" class="empty-posts">
            <p>No Assigned Requests...Yet</p>
        </div>
    </ng-container>
    <ng-container *ngIf="((null != (tasks$ | async)) && ((tasks$ | async).length === 0) || (null == (tasks$ | async))) && !IsStaff">
        <div align="center" class="empty-posts">
            <p>No Requests...Yet</p>
            <p>
                Tap Here<br /><br />
                <button ion-button (click)="expandTask()" style="background-color: #eaeaea; color: #424242">
                    <ion-icon name="add" item-left></ion-icon>
                </button>
                <br /><br />
                to add a request
            </p>
        </div>
    </ng-container>
    <ng-container *ngIf="(null != (tasks$ | async)) && ((tasks$ | async).length > 0)">
        <ion-list *ngIf="IsLandLord">
            <ion-card *ngFor="let task of (tasks$ | async)" style="border-bottom: 1px solid #fff">
                <ion-row class="status-row" (click)="expandTask(task)">
                    <ion-col class="status-col" style="width: 100% !important; text-align: center"> {{ task.status }} <span *ngIf="task.recurring" style="width: 30%; background-color: #f4c304; color: #000; padding: 5px; border-radius: 50%; font-size: 12px; text-align: center">
                            Recurring
                        </span>
                    </ion-col>
                </ion-row>
                <ion-row (click)="expandTask(task)">
                    <ion-col style="max-width: 40% !important">
                       <div *ngIf="((null != task.photoGallery) && (task.photoGallery.length > 0))" style="width: 100%; display: block;">
                            <img *ngFor="let photo of task.photoGallery" src="{{ photo }}" style="max-width: 120px; max-height: 120px; border-radius: 4%;margin-bottom: 20px;" />
                        </div>
                        <img *ngIf="((null != task.photoGallery) && (task.photoGallery.length === 0)) || (null == task.photoGallery)" src="assets/icon/new.png" style="max-width: 70px; border-radius: 25px" />
                      
                    </ion-col>
                    <ion-col style="max-width: 60% !important; text-align: left; padding: 14px">
                        <strong style="font-size: 17px">{{ task.subject }}</strong> <span style="font-size: 96%; color: #ffcb00"><br>({{ task.category }})</span> <br />{{ task.buildingName }} Unit {{ task.clientUnit }}<br />
                        Added on {{ (((null != task) && (null != task.date)) ? (task.date | date: 'short') || "N/A" : "N/A") }}<br>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-list>
    </ng-container>

    <ion-fab *ngIf="IsTenant || IsLandLord" bottom right #fab>
        <button (click)="expandTask(null)" color="silverbrick2" ion-fab>
            <ion-icon name="add"> </ion-icon>
        </button>
    </ion-fab>
    <loading-component [ShowLoading]="(loading$ | async)"></loading-component>
</ion-content>
