<!-- <ng-template #customLoadingTemplate>
    <div class="custom-class">
        <h3 style="color: #fff !important; opacity: 1; z-index: 99999;">
            Loading...
        </h3>
    </div>
</ng-template>
<ngx-loading [show]="ShowLoading" [config]="{ backdropBorderRadius: '3px', backdropBackgroundColour: '#2c2c2c', fullScreenBackdrop: false, primaryColor: '#fff' }" [template]="customLoadingTemplate">
    
</ngx-loading> -->
<div *ngIf="ShowLoading" class="spinner-boundaries" align="center">
    <ion-spinner style="font-size: 40px !important;" color="light" name="crescent"></ion-spinner>
</div>