loading-component {
    .spinner-boundaries {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-size: 40px;
        
        ion-spinner {
            color: #fff
        }
    }

    ion-spinner {
        transform: scale(2);
    }
}