<!-- This file is subject to the terms and conditions defined in file
'LICENSE.text', which can be found at the root of this project. -->
<ion-header class="pretty-header">
    <ion-navbar class="default-nav" align-title="center">
        <ion-title class="ion-text-center">
            <img src="assets/img/logo-title.png" style="max-width: 83px" />
        </ion-title>
        <ion-buttons *ngIf="IsAdmin" end>
            <span *ngIf="(null != (selectedStaff$ | async))" style="float: left; margin-right: 6px; line-height: 20px; font-size: 13px">
                {{ (selectedStaff$ | async).firstName }} {{ (selectedStaff$ | async).lastName }}<br />
                <span *ngIf="(null != (selectedStaff$ | async).taskCount)"> ( {{ (selectedStaff$ | async).completedTaskCount }} / {{ (selectedStaff$ | async).taskCount }} )</span>
            </span>
            <button (click)="ScopeStaffTasks()" ion-button>
                <ion-icon class="toolbar-right-button-icon-margin" name="options" item-left></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons *ngIf="!IsAdmin && !IsStaff" end>
            <button (click)="expandTask()" ion-button>
                <ion-icon class="toolbar-right-button-icon-margin" name="add" item-left></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-toolbar style="display: flex" *ngIf="(TaskToggle === 'requests') || IsTenant || IsLandLord">
        <label style="padding: 13px 11px 14px 13%; border-right: 1px solid; width: 50%"> Filter by Status: </label>
        <ion-select style="position: absolute; right: 0; width: 50%; text-align: center" interface="action-sheet" (ionChange)="ChangeScope($event)" [(ngModel)]="TasksScope">
            <ion-option value="All">All</ion-option>
            <ion-option value="Completed">Completed</ion-option>
        </ion-select>
    </ion-toolbar>
    <ng-container *ngIf="((null != (tasks$ | async)) && ((tasks$ | async).length === 0) || (null == (tasks$ | async))) && IsStaff">
        <div align="center" class="empty-posts">
            <p>No Assigned Requests...Yet</p>
        </div>
    </ng-container>
    <ng-container *ngIf="((null != (tasks$ | async)) && ((tasks$ | async).length === 0) || (null == (tasks$ | async))) && !IsStaff">
        <div align="center" class="empty-posts">
            <p>No Requests...Yet</p>
            <p>
                Tap Here<br /><br />
                <button ion-button (click)="expandTask()" style="background-color: #eaeaea; color: #424242">
                    <ion-icon name="add" item-left></ion-icon>
                </button>
                <br /><br />
                to add a request
            </p>
        </div>
    </ng-container>
    <ng-container *ngIf="(null != (tasks$ | async)) && ((tasks$ | async).length > 0)">
        <ion-list *ngIf="(!IsStaff)">
            <ion-card *ngFor="let task of (tasks$ | async)" style="border-bottom: 1px solid #fff">
                <ion-row class="status-row" (click)="expandTask(task)">
                    <ion-col class="status-col" style="width: 100% !important; text-align: center"> {{ task.status }} <span *ngIf="task.recurring" style="width: 30%; background-color: #f4c304; color: #000; padding: 5px; border-radius: 50%; font-size: 12px; text-align: center"> Recurring </span> </ion-col>
                </ion-row>
                <ion-row (click)="expandTask(task)">
                    <ion-col style="max-width: 100% !important" col-100>
                        <div *ngIf="((null != task.photoGallery) && (task.photoGallery.length > 0))" style="width: 100%; display: flex; overflow-x: scroll">
                            <img *ngFor="let photo of task.photoGallery" src="{{ photo }}" style="max-width: 120px; max-height: 120px; border-radius: 4%;margin-right: 20px;" />
                        </div>
                        <img *ngIf="((null != task.photoGallery) && (task.photoGallery.length === 0)) || (null == task.photoGallery)" src="assets/icon/new.png" style="max-width: 70px; border-radius: 25px" />
                    </ion-col>
                </ion-row>
                <ion-row (click)="expandTask(task)">
                    <ion-col style="max-width: 100% !important; text-align: left; padding: 14px" col-100>
                        <strong style="font-size: 17px">{{ task.subject }}</strong> <span style="font-size: 96%; color: #ffcb00"><br />({{ task.category }})</span> <br />{{ task.buildingName }} Unit {{ task.clientUnit }}<br />
                        Added on {{ (((null != task) && (null != task.date)) ? (task.date | date: 'short') || "N/A" : "N/A") }}<br />
                        <span *ngIf="(null != task.assignees) && (IsStaff || IsAdmin)">
                            <strong>Assigned to:</strong><br />
                            <span *ngFor="let assignee of task.assignees"> {{ assignee.name }}<br /> </span>
                        </span>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-list>

        <ion-list *ngIf="IsStaff">
            <ion-card *ngFor="let task of (tasks$ | async)" [ngClass]="((null != task.updatedRole) && (task.updatedRole === 'Tenant') && (IsNotTenant)) ? 'tenant-update' : ''" style="border-bottom: 1px solid #fff">
                <ion-row class="status-row" (click)="expandTask(task)">
                    <ion-col class="status-col" style="width: 100% !important; text-align: center"> {{ task.status }} <span *ngIf="task.recurring" style="width: 30%; background-color: #f4c304; color: #000; padding: 5px; border-radius: 50%; font-size: 12px; text-align: center"> Recurring </span> </ion-col>
                </ion-row>
                <ion-row (click)="expandTask(task)">
                    <ion-col style="max-width: 100% !important" col-100>
                        <div *ngIf="((null != task.photoGallery) && (task.photoGallery.length > 0))" style="width: 100%; display: flex; overflow-x: scroll">
                            <img *ngFor="let photo of task.photoGallery" src="{{ photo }}" style="max-width: 120px; max-height: 120px; border-radius: 4%;margin-right: 20px;" />
                        </div>
                        <img *ngIf="((null != task.photoGallery) && (task.photoGallery.length === 0)) || (null == task.photoGallery)" src="assets/icon/new.png" style="max-width: 70px; border-radius: 25px; margin-bottom: 20px" />
                    </ion-col>
                </ion-row>
                <ion-row (click)="expandTask(task)">
                    <ion-col style="max-width: 100% !important; text-align: left; padding: 14px" col-100>
                        <strong [ngClass]="((null != task.status) && (task.status === 'Completed')) ? 'completed-task' : ''" style="font-size: 17px">{{ task.subject }}</strong> <span style="font-size: 96%; color: #ffcb00"><br />({{ task.category }})</span> <br />{{ task.buildingName }} Unit {{ task.clientUnit }}<br />
                        Added on {{ (((null != task) && (null != task.date)) ? (task.date | date: 'short') || "N/A" : "N/A") }}<br />
                        <span *ngIf="null != task.assignees">
                            <strong>Assigned to:</strong><br />
                            <span *ngFor="let assignee of task.assignees"> {{ assignee.name }}<br /> </span>
                        </span>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="((null != task.status) && ((task.status === 'New') || (task.status === 'Assigned'))) && IsSocketConnected" class="button-row">
                    <ion-col (click)="StartProgress(task)" class="button-col" col-50> Start </ion-col>
                    <ion-col (click)="expandTask(task)" class="button-col2" col-50> Details </ion-col>
                </ion-row>
                <ion-row *ngIf="((null != task.status) && (task.status === 'In Progress')) && IsSocketConnected" class="button-row">
                    <ion-col (click)="MarkComplete(task)" class="button-col" col-50> Complete </ion-col>
                    <ion-col (click)="expandTask(task)" class="button-col2" col-50> Details </ion-col>
                </ion-row>
                <ion-row *ngIf="((null != task.status) && (task.status === 'Completed')) && IsSocketConnected && IsAdmin" class="button-row">
                    <ion-col (click)="ReOpen(task)" class="button-col" col-50> Re-Open </ion-col>
                    <ion-col (click)="expandTask(task)" class="button-col2" col-50> Details </ion-col>
                </ion-row>
            </ion-card>
        </ion-list>
    </ng-container>
    <ion-fab bottom left #fab>
        <button (click)="ScrollUp()" style="color: #fff;box-shadow: 0 4px 6px 0 rgba(255, 255, 255, 0.14), 0 4px 5px rgba(255, 255, 255, 0.1);" color="silverbrick3" ion-fab>
            <ion-icon style="color: #fff" name="arrow-round-up"> </ion-icon>
        </button>
        
    </ion-fab>
    <ion-fab *ngIf="IsAdmin" bottom right #fab>
        <button color="silverbrick2" ion-fab>
            <ion-icon name="add"> </ion-icon>
        </button>
        <ion-fab-list style="right: -29px" side="top">
            <ion-fab-button (click)="expandTask(null, fab)" color="silverbrick2" ion-fab>
                <ion-icon name="clipboard"></ion-icon>
            </ion-fab-button>
            <ion-label style="position: relative; right: 36%; top: 49px; background-color: #ccc; padding: 5px; border-radius: 5px; color: black; box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12)">Task</ion-label>
            <ion-fab-button (click)="newRecurringTask(fab)" color="lightgrey" ion-fab>
                <ion-icon name="refresh-circle"></ion-icon>
            </ion-fab-button>
            <ion-label (click)="newRecurringTask(fab)" style="position: relative; right: 64%; top: 49px; background-color: #ccc; padding: 5px; border-radius: 5px; color: black; box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12)">Recurring Task</ion-label>
        </ion-fab-list>
    </ion-fab>

    <ion-fab *ngIf="IsTenant || IsLandLord" bottom right #fab>
        <button (click)="expandTask(null)" color="silverbrick2" ion-fab>
            <ion-icon name="add"> </ion-icon>
        </button>
    </ion-fab>
    <loading-component [ShowLoading]="(loading$ | async)"></loading-component>
</ion-content>
