page-tasks {
    ion-navbar {
        .bar-button {
            color: #eaeaea !important;
            background-color: #424242 !important;
            width: 45px;
            height: 45px;
        }
    }
    ion-toolbar {
        .toolbar-content {
            display: flex;
        }
    }
    ion-slide {
        // overflow-y: scroll !important;
        display: block !important;
    }

    ion-calendar-month .primary .days .on-selected {
        background-color: #5e7fbd;
    }
    ion-calendar-month-picker .month-packer-item button, ion-calendar .title .switch-btn {
        color: #fff !important;
    }
    ion-calendar-month .primary .days .last-month-day p, ion-calendar-month .primary .days .next-month-day p {
        color: #e1d678 !important;
    }
    .header-calendar-wrapper .selection-wrapper .selection-slider {
        width: 5864px !important;
    }
    ion-calendar {
        background-color: #2A314C;
    }

    .swiper-container {
        height: auto;
    }

    ion-calendar-month button.days-btn p {
        color: #fff;
    }

    .header-calendar-wrapper .selection-wrapper .selection-slider .selection {
        margin: 0px 15px;
    }
    .header-calendar-wrapper .selection-wrapper .selection-slider .selection-slider-padding {
        width: 20px;
    }
    .table > tbody > tr > td.calendar-hour-column {
        width: 43px;
    }

    .dayview-normal-event-container {
        margin-top: 0px;
        color: #fff;
    }
    .dayview-allday-table {
        height: 0px;
        display: none;
        visibility: hidden;

    }
    .calendar-cell {
        height: 67px;
    }
    .slide-zoom {
        height: 100%;
    }
    .segment-ios .segment-button {
        border-color: #666 !important;
        color: #666;
        font-size: 14px;
        font-family: "Mukta-Regular", sans-serif !important;
        background-color: #b4b4b4;
    }
    .segment-ios .segment-button.segment-activated {
        border-color: #666 !important;
        font-size: 14px;
        font-family: "Mukta-Regular", sans-serif !important;
        color: #666;
        background-color: #eaeaea !important;
    }
    .segment-md .segment-button.segment-activated, .segment-ios .segment-button.segment-activated {
        border-color: #666 !important;
        color: #666;
        font-size: 14px;
        font-family: "Mukta-Regular", sans-serif !important;
        background-color: #eaeaea !important;
    }

    .tenant-update {
        background-color: #e86d6d !important;
        font-weight: bold;
        color: #fff;
    }
    ion-row {
        background-color: transparent !important;
        color: #fff !important;
    }
    .item-md, .item-ios {
        background-color: transparent;
        color: #fff !important;
    }
    ion-col {
        font-family: "Mukta-Regular", sans-serif !important;
        display: block;
        .building {
            background: transparent !important;
        }
    }
    ion-label {
        display: block !important;
    }
    ion-card {
        background: #4d6175 !important;
        border: 1px solid #eaeaea;
        font-size: 12px !important;
    }
    ion-content {
        background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
        background-size: cover;
    }
    background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
    background-size: cover;
    .spinner-boundaries {
        padding: 10px 0;
        width: 30px;
        margin: 0 auto;
    }
    .completed-task {
        text-transform: capitalize !important;
        font-weight: bold;
        color: green;
        text-decoration: line-through;
        text-decoration-color: green;
        text-decoration-thickness: 2px;
    }
    .scroll-content {
       
        background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
        background-size: cover;
        @include breakpoint("iPhoneX") {
            margin-bottom: 90px !important;
        }

        @include breakpoint("iPhoneXSMax") {
            margin-bottom: 90px !important;
        }
        @include breakpoint("iPhoneXR") {
            margin-bottom: 90px !important;
        }
        .empty-posts {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 15%;
            z-index: 999;
            font-family: "Mukta-Regular", sans-serif !important;
            font-size: 18px;
            justify-content: center;
            text-align: center;
            width: 100%;
            font-weight: 500;
            color: #fff;
            img {
                width: 28px;
                margin-bottom: 15px;
            }
        }
    }
    .services {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: visible;
        margin-bottom: 0px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background: transparent;
    }
    .services .spinner {
        content: "";
        position: absolute;
        height: 6px;
        background: #fff;
        top: 0;
        left: 0;
        width: 100%;
        animation: 1.2s loading infinite;
    }
    a {
        text-decoration: none;
    }
    div {
        -webkit-text-size-adjust: none;
    }
    .anima-full-width-a {
        width: 100%;
    }
    .anima-full-height-a {
        height: 100%;
    }
    div {
        -webkit-text-size-adjust: none;
    }
    .button-row {
        padding: 0;
        display: flex;
        flex-direction: row;
        border-top: 1px solid #e6e6e6;
        color: #2A314C;
        .button-col {
            text-align: center;
            justify-items: center;
            display: grid;
            background-color: #eaeaea;
            color: #2A314C;
            padding: 4%;
            font-size: 16px;
            font-family: "Mukta-Regular", sans-serif !important;
            font-weight: bold;
        }
        .button-col2 {
            text-align: center;
            justify-items: center;
            display: grid;
            background-color: #2A314C;
            color: #eaeaea;
            padding: 4%;
            font-size: 16px;
            font-family: "Mukta-Regular", sans-serif !important;
            font-weight: bold;
        }
    }

    .status-row {
        padding: 0;
        display: flex;
        flex-direction: row;
        border-top: 1px solid #e6e6e6;
        color: #2A314C;
        .status-col {
            text-align: center;
            justify-items: center;
            display: grid;
            background-color: #2A314C;
            color: #eaeaea;
            padding: 4%;
            font-size: 16px;
            font-family: "Mukta-Regular", sans-serif !important;
            font-weight: bold;
        }
    }

    #timeline,
        #summary {
            text-align: center;
            background: #e6e6e6;
            padding: 24px !important;
            margin: 0;
            width: 100%;
            margin-bottom: 10px;
        }

        .card {
            box-shadow: none !important;
        }

        .timeline {
            margin: 30px 0 0 0;
            padding: 0;
            position: relative;
            display: grid;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                width: 10px;
                // background: grey;
                // left: 20%;
                margin-left: -10px;
            }
        }
        .timeline-item {
            position: relative;
            display: block;
            margin-bottom: 5%;
            // padding-left: 15%;
        }

        .timeline-item-last {
            position: relative;
            display: block;
        }
        .timeline-time {
            display: flex;
            // padding-left: 15%;
            span {
                display: block;
                text-align: right;
                &:last-child {
                    font-size: 2.9em;
                    color: grey;
                }
            }
        }
        md-icon {
            width: 40px;
            height: 40px;
            font-size: 1.4em;
            position: absolute;
            color: #fff;
            background: black;
            border-radius: 50%;
            box-shadow: 0 0 0 8px #474747;
            text-align: center;
            left: 20%;
            top: 0;
            margin: 0 0 0 -25px;
            line-height: 40px;
            &:after {
                left: 46px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-left-color: #474747;
                border-width: 10px;
                top: 10px;
            }
        }

        .activity-message {
            .message-container {
                font-size: 14px;
            }
            // margin-left: 15% !important;
            width: 100%;
            position: relative;
            // border-radius: 25px;
            // border-color: #f0b840;
            color: #666;
            font-family: "Mukta-Regular", sans-serif !important;
            display: block;
            border-style: solid;
            border-width: 2px;
            padding: 2%;
            background-color: #e8e8e8;
            .title {
                text-transform: capitalize !important;
                font-weight: bold;
            }

            .completed-task {
                text-transform: capitalize !important;
                font-weight: bold;
                color: green;
                text-decoration: line-through;
                text-decoration-color: green;
                text-decoration-thickness: 2px;
            }
        }

        .author {
            margin-left: 5px;
            font-size: 18px;
            text-decoration: underline;
            font-weight: bold;
            display: inline-flex;
            font-family: "Mukta-Bold", sans-serif !important;
        }

        .divider-header {
            font-size: large;
            align-content: center;
            font-family: "Mukta-Regular", sans-serif !important;
            font-weight: bold;
            color: #5a738e;
            background-color:#e7e7e7;
            padding-top: 1%;
            padding-bottom: 1%;
        }
        .tenant-update {
            background-color: #e86d6d !important;
            font-weight: bold;
            color: #fff;
        }
}

@media only screen and (min-width: 900px) {
    #postContainer {
        border-right: 1px solid gray;
    }
    .services .rectanglecopy {
        display: flex;
    }

    .services .rectanglecopy .rectangle3 {
        width: 32%;
    }
}
