page-tasks-details {
    label {
        font-weight: bold !important;
    }
    ion-calendar-month .primary .days .on-selected {
        background-color: #5e7fbd;
    }
    ion-calendar-month-picker .month-packer-item button, ion-calendar .title .switch-btn {
        color: #fff !important;
    }
    ion-calendar-month .primary .days .last-month-day p, ion-calendar-month .primary .days .next-month-day p {
        color: #e1d678 !important;
    }

    ion-calendar {
        background-color: #2A314C;
    }
    .alert-wrapper {
        max-height: 100% !important;
        height: 81%;
        min-width: 80% !important;
    }

    .alert-input {
        min-height: 50px;
    }
    ion-calendar-month button.days-btn p {
        color: #fff;
    }
    .upload-bar {
        width: 100%;
        height: 100%;
        img {
            position: relative;
            bottom: 7px;
            left: 9px;
            max-width: 40px;
            max-height: 40px;
            width: 100%;
            height: 100%;
            margin-right: 3%;
        }
        .cancel-upload {
            position: absolute;
            top: 10px;
            right: 9px;
            min-height: 22px;
            line-height: 22px;
        }
        .cancel-upload:before {
            font-size: 16px !important;
            line-height: 16px !important;
        }
        .upload-container {
            margin: 0 4px 4px 55px;
            padding: 2px 0;
            p {
                color: #000;
                margin-bottom: 2px;
                text-overflow: clip !important;
                white-space: normal !important;
            }
            .upload-done {
                font-weight: bold;
            }
        }
        .progress-bar,
        .progress-loader {
            border-radius: 100px;
            height: 13px;
        }
        .progress-bar {
            width: 100%;
            overflow: hidden;
            background-color: #fff;
            .progress-loader {
                background-color: #2A314C;
            }
        }
    }
    .switch-light > span {
        border: 1px solid #ccc !important;
    }
    ion-item div.item-inner > div > ion-label {

    }
    
    .day_holder {
        position: relative;
        display: flow-root;
    }

    .day_holder a {
        display: block;
        padding: 5px 7px;
        font-size: 14px;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px 1px 1px 1px;
        float: left;
        text-decoration: none;
        font-weight: bold;
        -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.1) inset;
        -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.1) inset;
        -ms-box-shadow: 0px 1px 2px rgba(0,0,0,0.1) inset;
        -o-box-shadow: 0px 1px 2px rgba(0,0,0,0.1) inset;
        box-shadow: 0px 1px 2px rgba(0,0,0,0.1) inset;
        background-color: #fff;
    }

    .day_holder a.selected {
        background-color: #5ea1f7;
        color: #fff;
        -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
        -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
        -ms-box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
        -o-box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
        position: relative;
        background-image: -webkit-linear-gradient(top, #2A314C, #789);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2A314C), to(#789));
        background-image: -moz-linear-gradient(top, #2A314C, #789);
        background-image: -ms-linear-gradient(top, #2A314C, #789);
        background-image: -o-linear-gradient(top, #2A314C, #789);
    }
    .user-row {
        width: 100%;
        padding: 4%;
        display: flex;
    }
    ion-label {
        display: block !important;
        width: 100%;
        // white-space: inherit !important;
    }
    ion-list {
        // height: 100% !important;
    }
    ion-slide {
        overflow-y: scroll !important;
        display: block !important;
    }
    .segment-ios .segment-button {
        border-color: #666 !important;
        color: #666;
        font-size: 14px;
        font-family: "Mukta-Regular", sans-serif !important;
        background-color: #b4b4b4;
    }
    .segment-ios .segment-button.segment-activated {
        border-color: #666 !important;
        color: #666;
        font-size: 14px;
        font-family: "Mukta-Regular", sans-serif !important;
        background-color: #eaeaea !important;
    }
    .segment-md .segment-button.segment-activated, .segment-ios .segment-button.segment-activated {
        border-color: #666 !important;
        color: #666;
        background-color: #eaeaea !important;
        font-size: 14px;
        font-family: "Mukta-Regular", sans-serif !important;
    }
    .divider-header {
        font-size: large;
        align-content: center;
        font-family: "Mukta-Regular", sans-serif !important;
        font-weight: bold;
        color: #5a738e;
        background-color:#e7e7e7;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    input {
        color: #666;
    }
    .text-input {
        color: #666 !important;
        background-color: #fff;
        padding: 4%;
    }
    .item-md, .item-ios {
        p {
            color: #d2d2d2;
        }
    }
    .tenant-view {
        
        .time-line-add {
            display: flex;
            width: 100%;
            height: 140px;
            border-bottom: 1px solid;
            padding: 21px;
            .send-text {
                width: 100%;
                margin-left: 20px;
            }
            .button.button-icon.right {
                margin-left: 10px;
                padding: 0px;
            }
            .send-button {
                border: none;
                color: #4a8bfc;
                text-transform: uppercase;
            }
            .send-button-staff {
                border: none;
                width: 200px;
                color: #4a8bfc;
                text-transform: uppercase;
            }
            .button[icon-only] {
                min-width: 71px !important;
            }
            .camera-button,
            .camera-button.activated {
                background-color: transparent;
                box-shadow: 1px ;
            }
            .camera-button {
                margin-right: 8px;
            }
            [icon-only] ion-icon {
                font-size: 2.7em;
            }
            #IsAndroid {
                padding-left: 0px !important;
                width: 100%;
                display: inline-flex;
                height: 100%;
                position: absolute;
            }
            #anCamera {
                width: 60px;
                height: 60px;
                background: #000;
                font-size: 30px;
                display: grid;
                align-items: center;
                justify-items: center;
            }
            .middle-col {
                margin: 0 10px;
            }

            label.switch-light.switch-candy-blue span span {
                color: #000 !important;
            }

            .switch-light > span {
                border-radius: 14px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2);
            }

            .middle-col-tenant {
                width: 95% !important;
            }
        }        

        .time-line-add-photo {
            display: flex;
            width: 100%;
            height: 240px;
            border-bottom: 1px solid;
            padding: 21px;
            .send-text {
                width: 100%;
                margin-left: 20px;
            }
            .button.button-icon.right {
                margin-left: 10px;
                padding: 0px;
            }
            .send-button {
                border: none;
                color: #4a8bfc;
                text-transform: uppercase;
            }
            label.switch-light.switch-candy-blue span span {
                color: #000 !important;
            }

            .switch-light > span {
                border-radius: 14px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2);
            }
            .button[icon-only] {
                min-width: 60px !important;
            }
            .camera-button,
            .camera-button.activated {
                background-color: transparent;
                box-shadow: 1px ;
            }
            .camera-button {
                margin-right: 8px;
            }
            [icon-only] ion-icon {
                font-size: 2.7em;
            }
            .middle-col {
                margin: 0 10px;
            }

            .middle-col-tenant {
                width: 95% !important;
            }
        }

        #headerImage, .img-header {
            width: 100% !important;
            min-height: 300px !important;
            background-position: center center;
        }

        /* This is just for CodePen. */

        .form {
            max-width: 600px;
            font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
            font-weight: normal;
            line-height: 1.625;
            margin: 8px auto;
            padding: 16px;
        }

        h2 {
            font-size: 18px;
            margin-bottom: 8px;
        }
        #timeline,
        #summary {
            text-align: center;
            background: #e6e6e6;
            padding: 24px !important;
            margin: 0;
            width: 100%;
            margin-bottom: 10px;
        }

        .card {
            box-shadow: none !important;
        }

        .timeline {
            margin: 30px 0 0 0;
            padding: 0;
            position: relative;
            display: grid;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                width: 10px;
                // background: grey;
                // left: 20%;
                margin-left: -10px;
            }
        }
        .timeline-item {
            position: relative;
            display: block;
            margin-bottom: 5%;
            // padding-left: 15%;
        }

        .timeline-item-last {
            position: relative;
            display: block;
        }
        .timeline-time {
            display: flex;
            // padding-left: 15%;
            span {
                display: block;
                text-align: right;
                &:last-child {
                    font-size: 2.9em;
                    color: grey;
                }
            }
        }
        md-icon {
            width: 40px;
            height: 40px;
            font-size: 1.4em;
            position: absolute;
            color: #fff;
            background: black;
            border-radius: 50%;
            box-shadow: 0 0 0 8px #474747;
            text-align: center;
            left: 20%;
            top: 0;
            margin: 0 0 0 -25px;
            line-height: 40px;
            &:after {
                left: 46px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-left-color: #474747;
                border-width: 10px;
                top: 10px;
            }
        }

        .activity-message {
            white-space: normal;
            .message-container {
                font-size: 14px;
            }
            // margin-left: 15% !important;
            width: 100%;
            position: relative;
            // border-radius: 25px;
            // border-color: #f0b840;
            color: #666;
            font-family: "Mukta-Regular", sans-serif !important;
            display: block;
            border-style: solid;
            border-width: 2px;
            padding: 2%;
            background-color: #e8e8e8;
            .title {
                text-transform: capitalize !important;
                font-weight: bold;
            }
        }

        .author {
            margin-left: 5px;
            font-size: 18px;
            text-decoration: underline;
            font-weight: bold;
            display: inline-flex;
            font-family: "Mukta-Bold", sans-serif !important;
        }

        .divider-header {
            font-size: large;
            align-content: center;
            font-family: "Mukta-Regular", sans-serif !important;
            font-weight: bold;
            color: #5a738e;
            background-color:#e7e7e7;
            padding-top: 1%;
            padding-bottom: 1%;
        }
        .tenant-update {
            background-color: #e86d6d !important;
            font-weight: bold;
            color: #fff;
        }
    }
    ion-row {
        background-color: transparent !important;
        color: #fff !important;
    }
    .item-md, .item-ios {
        background-color: transparent !important;
        color: #fff !important;
    }
    ion-col {
        display: block;
        .building {
            background: transparent !important;
        }
    }
    ion-label {
        // display: flex !important;
    }
    ion-content {
        background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
        background-size: cover;
    }
    background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
    background-size: cover;
    .spinner-boundaries {
        padding: 10px 0;
        width: 30px;
        margin: 0 auto;
    }
    .scroll-content {
        background: linear-gradient(45deg, #2A314C 36%, #0c1224 100%);
        background-size: cover;
        @include breakpoint("iPhoneX") {
            margin-bottom: 77px !important;
        }

        @include breakpoint("iPhoneXSMax") {
            margin-bottom: 77px !important;
        }
        @include breakpoint("iPhoneXR") {
            margin-bottom: 77px !important;
        }

        @include breakpoint("iPhone11") {
            margin-bottom: 77px !important;
        }
    }
    .item-md.item-block .item-inner, .item-ios.item-block .item-inner {
        border-bottom: none !important;
    }
}
